<h1>Dúvidas comuns sobre distanciamento social e uso de máscara durante a pandemia de Covid 19</h1>

<small>
    Fonte: <a href="https://mooc.campusvirtual.fiocruz.br/rea/coronavirus/faq.html">Portal Fiocruz</a> / Março de 2021
</small>

<dl class="faq">

      <dt>O que é covid-19? </dt>
      <dd>
        <p>É o nome dado à doença causada pelo coronavírus. Esse nome vem de "COrona", "VIrus" e "Disease”
          (doença), e 2019 representa o ano em que ela surgiu (o surto foi relatado à Organização Mundial
          da Saúde em 31 de dezembro).</p>
      </dd>

      
      
      <dt>Qual é a diferença entre transmissão
        local e comunitária (sustentada)? </dt>
      <dd>
        <ul>
          <li><strong>Transmissão local:</strong> São casos de pessoas que se infectaram e não estiveram
            em nenhum país com registro da doença, mas tiveram contato com outro paciente infectado, que
            trouxe o vírus de fora do país.</li>
          <li><strong>Transmissão comunitária ou sustentada:</strong> São casos nos quais não é possível
            identificar as fontes de transmissão da doença. Esse tipo de transmissão sugere circulação
            ativa do vírus na comunidade.</li>
        </ul>
      </dd>

      <dt>Quais os primeiros sintomas
        da COVID-19? </dt>
      <dd>
        <p>Os sintomas da COVID-19 são bastante parecidos com os da gripe: febre, tosse e dificuldade para
          respirar.</p>
      </dd>


      <dt>A COVID-19 pode apresentar outros
        sintomas? </dt>
      <dd>
        <p>Os sinais e sintomas do novo coronavírus (SARS-CoV-2) são principalmente respiratórios. Ela
          pode causar infecção do
          trato respiratório inferior, como as pneumonias.</p>
      </dd>

      <dt>Pessoas com sintomas leves podem
        transmitir a COVID-19? </dt>
      <dd>
        <p>Sim. Foi relatada infecção assintomática com SARS-CoV-2, mas ainda não se sabe qual o papel da
          infecção assintomática na
          transmissão da doença. Da mesma forma, o papel da transmissão pré-sintomática (detecção de
          infecção durante o período de
          incubação antes do início da doença) é desconhecido.</p>
      </dd>

      <dt>A pessoa pode transmitir o coronavírus
        mesmo sem apresentar sintoma? </dt>
      <dd>
        <p>Sim. O período de incubação do vírus pode variar de dois a 14 dias. Durante esse tempo, o vírus
          tem capacidade de
          transmissão. Por isso, é importante adotar medidas gerais de prevenção, como lavar as mãos com
          frequência e não
          compartilhar objetos de uso pessoal.</p>
      </dd>


      <dt>O que é etiqueta respiratória? </dt>
      <dd>
        <div class="row justify-content-center">
          <div class="col-12 col-md-2">
            <img class="mx-auto d-block img-fluid aos-init aos-animate" data-aos="flip-left" src="https://mooc.campusvirtual.fiocruz.br/rea/coronavirus/img/modulo1/aula2/ic2.png" alt="" width="140">
          </div>
          <div class="col-12 col-md-9">
            <p>É ter cuidado ao tossir e espirrar. Use um lenço de papel sempre que for tossir ou espirrar
              e, em seguida,
              descarte-o. Na ausência do lenço, espirre sobre o antebraço, em vez de usar as mãos para
              proteger o rosto.</p>
          </div>
        </div>
      </dd>

      <dt>Se estiver doente, o que fazer para
        não passar a doença? </dt>
      <dd>
        <p>Você deve ficar em casa se estiver doente. No caso da pandemia atual, a maioria dos países
          afetados adotaram estratégias de isolamento e/ou quarentena, entre eles o Brasil. As regras para
          a população, os serviços e o comércio variam em cada cidade ou país e é crucial que todos sigam
          as recomendações das autoridades locais. </p>
      </dd>

      <dt>O que posso fazer para evitar a
        propagação da COVID-19 no meu local de trabalho? </dt>
      <dd>
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-2">
            <img class="mx-auto d-block img-fluid aos-init aos-animate" data-aos="flip-left" src="https://mooc.campusvirtual.fiocruz.br/rea/coronavirus/img/modulo1/aula2/ic1.png" alt="" width="140">
          </div>
          <div class="col-12 col-md-9">
            <p>Lavar as mãos frequentemente com água e sabonete por pelo menos 20 segundos, respeitando os
              cinco momentos de
              higienização. Se não houver água e sabonete, usar um desinfetante para as mãos à base de
              álcool 70%.</p>
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-2">
            <img class="mx-auto d-block img-fluid aos-init aos-animate" data-aos="flip-left" src="https://mooc.campusvirtual.fiocruz.br/rea/coronavirus/img/modulo1/aula2/ic8.png" alt="" width="140">
          </div>
          <div class="col-12 col-md-9">
            <p>Evitar tocar nos olhos, nariz e boca com as mãos não lavadas.</p>
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-2">
            <img class="mx-auto d-block img-fluid aos-init aos-animate" data-aos="flip-left" src="https://mooc.campusvirtual.fiocruz.br/rea/coronavirus/img/modulo1/aula2/ic6.png" alt="" width="140">
          </div>
          <div class="col-12 col-md-9">
            <p>Evitar contato próximo com pessoas doentes e manter-se a uma distância de pelo menos um
              metro das demais pessoas.</p>
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-2">
            <img class="mx-auto d-block img-fluid aos-init aos-animate" data-aos="flip-left" src="https://mooc.campusvirtual.fiocruz.br/rea/coronavirus/img/modulo1/aula2/ic2.png" alt="" width="140">
          </div>
          <div class="col-12 col-md-9">
            <p>Cobrir com o cotovelo ou com um lenço de papel a boca e nariz ao tossir ou espirrar. No
              caso do papel, jogar no lixo.</p>
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-2">
            <img class="mx-auto d-block img-fluid aos-init aos-animate" data-aos="flip-left" src="https://mooc.campusvirtual.fiocruz.br/rea/coronavirus/img/modulo1/aula2/ic5.png" alt="" width="140">
          </div>
          <div class="col-12 col-md-9">
            <p>Limpar e desinfetar objetos e superfícies tocados com frequência.</p>
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-2">
            <img class="mx-auto d-block img-fluid aos-init aos-animate" data-aos="flip-left" src="https://mooc.campusvirtual.fiocruz.br/rea/coronavirus/img/modulo1/aula2/ic7.png" alt="" width="140">
          </div>
          <div class="col-12 col-md-9">
            <p>Mantenha os ambientes bem ventilados</p>
          </div>
        </div>

      </dd>

      <dt>O que fazer em casos de viagens essenciais/inadiáveis? </dt>
      <dd>
        <p>Apesar de não haver nenhuma restrição para viagens nacionais (domésticas), a orientação é que
          todos que tenham possibilidade de ficar em casa, que fiquem. Caso não seja possível, higienize
          suas mãos frequentemente com água e sabão ou álcool 70% ou e evite tocar o rosto. Mantenha-se a
          pelo menos um metro de distância das demais pessoas. Adote medidas de etiqueta respiratória e
          não viaje de forma alguma caso faça parte do grupo de risco ou apresente sintomas de tosse e
          febre.</p>
      </dd>

      
      <dt>Como o coronavírus é transmitido? </dt>
      <dd>
        <p>O coronavírus é transmitido a partir de um indivíduo que tem o vírus, em contato próximo (cerca
          de 1m) com outras pessoas. Ocorre através do contato físico (aperto de mão, abraço etc),
          pequenas gotículas de saliva, espirro, tosse e através de objetos ou superfícies contaminadas,
          como celulares, mesas, maçanetas, brinquedos, teclados de computador etc.</p>
      </dd>

      <dt>O que é período de incubação? </dt>
      <dd>
        <p>Período de incubação é o tempo que leva para aparecerem os primeiros sintomas, depois da
          infecção por coronavírus.</p>
      </dd>

      <dt>Qual o período de incubação do
        coronavírus? </dt>
      <dd>
        <p>O período de incubação pode variar de um a 14 dias, mais frequentemente ao redor de cinco dias.
        </p>
        <p>Essas estimativas estão sendo atualizados à medida que mais dados se tornam disponíveis.</p>
      </dd>

      <dt>Quem deve usar máscaras cirúrgicas? </dt>
      <dd>
        <p>A OPAS e a OMS recomendam que as máscaras cirúrgicas sejam usadas por:</p>

        <ul>
          <li style="border-bottom:transparent;">pessoas com sintomas respiratórios, como tosse ou
            dificuldade de respirar, inclusive ao procurar atendimento médico;</li>
          <li style="border-bottom:transparent;">profissionais de saúde e pessoas que prestam atendimento
            a indivíduos com sintomas respiratórios;</li>
          <li style="border-bottom:transparent;">profissionais de saúde, ao entrar em uma sala com
            pacientes ou tratar um indivíduo com sintomas respiratórios.</li>
        </ul>

        <p>No entanto, o Ministério da Saúde está preparando um novo protocolo com indicação de uso de
          máscaras também para pessoas que não apresentam sintomas.</p>
      </dd>

      <dt>Como usar as máscaras cirúrgicas? </dt>
      <dd>
        <ol>
          <li>Antes de tocar na máscara, limpe as mãos com um higienizador à base de álcool ou água e sabão.</li>
          <li>Pegue a máscara e verifique se está rasgada ou com buracos</li>
          <li>Oriente qual lado é o lado superio máscara está voltado para fora (o lado colorido).</li>
          <li>Coloque a máscara no seu rosto com cuidado para cobrir a boca e o nariz e amarre com segurança para minimizar as lacunas entre o rosto e a máscara; Aperte a tira de metal ou a borda rígida da máscara para que ela se adapte ao formato do seu nariz.<br>

            <img class="img-fluid mx-auto d-block" src="https://mooc.campusvirtual.fiocruz.br/rea/coronavirus/img/faq/passo-a-passo-mascara.png" alt="Passo-a-passo para colocar a máscara">
            <p class="reference-title text-center">Etapas para colocãção da máscara no rosto: a) Segurar o
              respirador com a pinça nasal próxima à ponta dos dedos deixando as alças pendentes; b)
              Encaixar o respirador sob o queixo; c) Posicionar um tirante na nuca e o outro sobre a
              cabeça; d) Ajustar a pinça nasal no nariz; e) Verificar a vedação pelo teste de pressão
              positiva</p>
            <p class="source text-center">Fonte: <a href="https://coronavirus.ceara.gov.br/wp-content/uploads/2020/03/Cartilha-de-Prote%C3%A7%C3%A3o-Respirat%C3%B3ria-contra-Agentes-Biol%C3%B3gicos-para-Trabalhadores-de-Sa%C3%BAde.pdf" target="_blank">Governo do Ceará</a>.
          </p></li>
          <li style="border-bottom:transparent;">Puxe a parte inferior da máscara para que ela cubra sua
            boca e seu queixo. Enquanto estiver utilizando a máscara, evite tocá-la;</li>
        </ol>
      </dd>

      <dt>Quando devo substituir a máscara
        cirúrgica por outra nova? </dt>
      <dd>
        <p>Substitua a máscara usada por uma nova máscara limpa e seca assim que estiver úmida ou
          danificada.</p>
      </dd>

      <dt>Como remover a máscara cirúrgica? </dt>
      <dd>
        <p>Após o uso, retire a máscara removendo as presilhas elásticas ou laços por trás das orelhas,
          mantendo a máscara afastada do rosto e das roupas. O cuidado é sempre para evitar tocar nas
          superfícies potencialmente contaminadas da máscara (parte frontal).</p>
      </dd>

      <dt>Como descartar a máscara? </dt>
      <dd>
        <ol>
          <li>Descarte a máscara em uma lixeira
            fechada e apropriada imediatamente após o uso.</li>
          <li>Higienize as mãos depois de tocar ou
            descartar a </li>
        </ol>
      </dd>

      <dt>É indicado usar luvas descartáveis em
        locais públicos para a prevenção do coronavírus? </dt>
      <dd>
        <p>Não. Lavar as mãos com água e sabão e evitar o contato com o rosto oferece uma proteção mais
          efetiva do que o uso de luvas ao sair de casa para locais públicos. É possível se contaminar
          pelo coronavírus mesmo utilizando luvas descartáveis caso você toque em superfícies contaminadas
          e logo após nos olhos, nariz ou boca.</p>
      </dd>

</dl>