<mat-tab-group>

    <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">person</mat-icon>
      Usuários
    </ng-template>
    <ng-template matTabContent>
      <app-register-user> </app-register-user>
    </ng-template>
  </mat-tab>

  <mat-tab *ngIf="userRole==='admin'">
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">business</mat-icon>
      Instituições
    </ng-template>
    <ng-template matTabContent>
      <app-register-company></app-register-company>>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">videocam</mat-icon>
      Câmeras
    </ng-template>
    <ng-template matTabContent>
      <app-register-camera></app-register-camera>
    </ng-template>
  </mat-tab>

</mat-tab-group>
