<div *ngIf="!isLoaded" class="spinner-center">
  <mat-spinner></mat-spinner>
</div>

<mat-sidenav-container *ngIf="isLoaded" class="cameras-container" style="background-color: #eef2f5">
  <!-- Right Menu -->
  <mat-sidenav opened mode="side">
    <div class="list">
      <div class="scrollable">
        <mat-toolbar
          style="height: 30px; background-color: black; color: white"
        >
          <mat-icon svgIcon="camera"></mat-icon>
          <span style="flex: 1 0 auto"></span>
          <span style="flex: 10 1 auto">Locais</span>
          <mat-icon (click)="openDialog()"> filter_list </mat-icon>
        </mat-toolbar>
        <table>
          <thead>
            <tr>
              <th>STATUS</th>
              <th>NOME</th>
              <th>RISCO MÉDIO</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="filteredCameras.length === 0; else cameraList">
              <td colspan="4">
                <span>Não há câmeras.</span>
              </td>
            </tr>
            <ng-template #cameraList>
              <tr
                *ngFor="let c of filteredCameras"
                [ngbTooltip]="getCameraStatusTooltip(c)"
                [class]="getCameraClass(c)"
                (click)="
                  selectCamera(c.id);
                "
              >
                <td [class]="'tagged ' + c.status">
                  <span>{{ c.status }}</span>
                </td>
                <td>
                  <span>{{ c.name }}</span>
                  <small>{{ c.city }} / {{ c.state }}</small>
                </td>
                <td>
                  <span
                    [matBadgeHidden]="c.calibrated"
                    matBadge="!"
                    matBadgeOverlap="true"
                  >
                  <ng-container *ngIf="c.severityMeanStr <= 1">
                    <mat-icon svgIcon="greenCircle"></mat-icon>
                  </ng-container>
                  <ng-container *ngIf="c.severityMeanStr > 1 and c.severityMeanStr <= 2">
                    <mat-icon svgIcon="yellowCircle"></mat-icon>
                  </ng-container>  
                  <ng-container *ngIf="c.severityMeanStr > 2">
                    <mat-icon svgIcon="redCircle"></mat-icon>
                  </ng-container>  
                  </span
                  >
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </mat-sidenav>

  <!-- Left Menu -->
  <mat-sidenav #recordSideNav [opened]="recordSideNavOpened" mode="side" position="end" >

      <mat-toolbar style="height: 30px; background-color: black; color: white">
        <span style="flex: 10 1 auto">Evidências</span>
      </mat-toolbar>
  
      <mat-selection-list #records [multiple]="false">
        <mat-list-option
          *ngFor="let record of selectedCamera.records; let i = index"
          (click)="
            selectRecord(record.id);
            mapComponent.recordClickContent(selectedCamera, i)
          "
        >
          <div style="display: flex; flex-direction: row" [id]="'record-' + i">
            <div class="seriousness">
              <div class="levels">
                <ng-container *ngFor="let level of [0, 1, 2, 3]">
                  <span
                    [class]="
                      'level_' +
                      level +
                      (record.severityLevel >= level ? ' selected' : '')
                    "
                  ></span>
                </ng-container>
              </div>
            </div>
            <div>
              {{ record.createdAt | date: "dd MMM HH:mm:ss" }}
            </div>
          </div>
        </mat-list-option>
      </mat-selection-list>

      <ng-container *ngIf="!selectedCamera.records">
        <span> Não há registros recentes </span>
      </ng-container>

  </mat-sidenav>

  <!-- Center content -->
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="map">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">map</mat-icon>
        Mapa
      </ng-template>
      <ng-template matTabContent>
        <app-map
          [cameras]="filteredCameras"
          [currentCamera]="selectedCamera"
          (newSelectedCameraId)="onCameraChanged($event)"
          (newSelectedRecordId)="onRecordChanged($event)"
        >
        </app-map>
      </ng-template>
    </mat-tab>

    <!-- <mat-tab label="graph">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">insert_chart</mat-icon>
        Gráficos
      </ng-template>
      <ng-template matTabContent>
        <app-graphs [recordData]="selectedCamera.records"></app-graphs>
      </ng-template>
    </mat-tab> -->

    <mat-tab label="info">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">info</mat-icon>
        Informações da Câmera
      </ng-template>
      <ng-template matTabContent>
        <app-camera-info [currentCamera]="selectedCamera"></app-camera-info>
      </ng-template>
    </mat-tab>

    <mat-tab *ngIf="userRole === 'admin' || userRole === 'manager'" label="calib">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">my_location</mat-icon>
        Calibrar Câmera
      </ng-template>
      <ng-template matTabContent>
        <app-calibration [currentCamera]="selectedCamera" (calibrationDone)="reloadServices($event)"></app-calibration>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-sidenav-container>
