.tab-icon {
  margin-right: 8px;
}

.cameras-container {
  height: 69em;
}

.disableCamera {
  opacity: 0.2;
}

.hideCamera {
  display: none;
}

.uncalibratedCamera {
  background-color: yellow;
}

.danger {
  color: red;
}

.medium {
  color: orange;
}

.safe {
  color: green;
}

.scrollable {
  /* overflow-x: auto; */
  /* overflow-y: auto; */
  height: 100%;
  background-color: #f7fafb;
}

.scrollable tr.selected {
  border-style: dashed;
}

.seriousness div.levels {
  flex: 0 0 auto;
  height: 4em;
  width: 8em;
  border-radius: 50%;
  box-shadow: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 0 0.5em 0;
  font-size: 0.3em;
  cursor: pointer;
}

.seriousness label {
	margin-bottom: 0;
}
.seriousness ul {
	flex: 0 1 auto;
}
.seriousness .levels {
	flex: 0 0 auto;
	height: 8em;
	width: 8em;
	border-radius: 50%;
	box-shadow: 0 0 0 0.1em #cddce2;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 1em 0 0;
}
.seriousness .levels div {
	height: 4em;
	display: flex;
	align-items: flex-end;
	font-size: 0.4em;
}
.seriousness .levels span {
	width: 1em;
	background-color: rgba(150, 184, 197, 0.6);
	margin: 0 0.18em;
}
.seriousness .level_0 {
	height: 1.8em;
}
.seriousness .level_1 {
	height: 2.5em;
}
.seriousness .level_2 {
	height: 3.2em;
}
.seriousness .level_3 {
	height: 4em;
}
.seriousness .levels .selected {
	background-color: #e84430;
}

.mat-badge-content {
  background: orange;
  color: black;
}

.disableCamera {
  opacity: 0.2;
}

.camera-selected {
  border-style: dashed;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
