<h1>Configurando câmeras</h1>

<h2>Veja aqui um passo a passo para configurar as câmeras que enviarão as imagens para a análise.</h2>
<p>
    Escolha 4 pontos na imagem correspondente ao chão onde ficam as pessoas, 
    formando um polígono de quatro lados. Para isso, comece clicando no ponto 
    do topo esquerdo desse polígono, depois no topo direito, depois na base 
    direita e depois na base esquerda. É necessário obedecer o sentido horário. 
</p>
<p>
    Caso os pontos escolhidos não estejam bons, clique em 'Resetar Pontos' e comece novamente. 
    Caso contrário, você ficou satisfeito com os pontos, clique em 'Finalizar Calibração'
</p>