.new-obj-parent {
  display: flex;
  border-top-style: solid;
  border-top-width: 0px;
  padding-top: 1em;
}

.new-obj {
  /* display: grid; */
  //   margin-left: auto;
  //   margin-right: auto;
  grid-template-columns: 1fr;
  grid-gap: 1em 3em;
  //   padding-top: 2em;
}

form {
  width: 33%;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

mat-dialog-actions {
  width: max-content;
}

.mat-form-field {
  width: 25em;
}
