<div *ngIf="!isLoaded" style="margin-left:35%">
  <mat-spinner></mat-spinner>
</div>

<div [hidden]="!isLoaded">
  <h3>{{title}}</h3>
  <div style="width: auto">
    <form [formGroup]="cameraForm" (ngSubmit)="onSubmit()" class="new-obj">
      <mat-form-field>
        <mat-label for="name"> Nome </mat-label>
        <input matInput id="name" type="text" formControlName="name" />
        <mat-error *ngIf="name.invalid">
          {{ getErrorMessage(name.errors) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="urlPrimary"> URL detecção </mat-label>
        <input
          matInput
          id="urlPrimary"
          type="text"
          formControlName="urlPrimary"
        />
        <mat-error *ngIf="urlPrimary.invalid">
          {{ getErrorMessage(urlPrimary.errors) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="urlSecondary"> URL streaming </mat-label>
        <input
          matInput
          id="urlSecondary"
          type="text"
          formControlName="urlSecondary"
        />
        <mat-error *ngIf="urlSecondary.invalid">
          {{ getErrorMessage(urlSecondary.errors) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="desc"> Descrição </mat-label>
        <input matInput id="desc" type="text" formControlName="desc" />
        <mat-error *ngIf="desc.invalid">
          {{ getErrorMessage(desc.errors) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="city"> Cidade </mat-label>
        <input matInput id="city" type="text" formControlName="city" />
        <mat-error *ngIf="city.invalid">
          {{ getErrorMessage(city.errors) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="state"> Estado </mat-label>
        <input matInput id="state" type="text" formControlName="state" />
        <mat-error *ngIf="state.invalid">
          {{ getErrorMessage(state.errors) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="lat"> Latitude </mat-label>
        <input matInput id="lat" type="text" formControlName="lat" />
        <mat-error *ngIf="lat.invalid">
          {{ getErrorMessage(lat.errors) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="lng"> Longitude </mat-label>
        <input matInput id="lng" type="text" formControlName="lng" />
        <mat-error *ngIf="lng.invalid">
          {{ getErrorMessage(lng.errors) }}
        </mat-error>
      </mat-form-field>

      <mat-dialog-actions>
        <button mat-button type="button" (click)="getUserLocation()">
          Usar localização atual
        </button>
      </mat-dialog-actions>
      <mat-dialog-actions>
        <button mat-button type="button" (click)="openDialog()">
          Pegar coordenadas no mapa
        </button>
      </mat-dialog-actions>
      <br><br>
      
      <mat-dialog-actions>
        <button *ngIf="mode==='edit'" mat-button type="button" (click)="deleteCamera()">
          Remover câmera
        </button>
        <button mat-button mat-dialog-close>Cancelar</button>
        <button
          mat-button
          type="submit"
          [disabled]="!cameraForm.valid"
        >
          Aceitar
        </button>
        
      </mat-dialog-actions>
    </form>
  </div>
</div>
