<h3>{{title}}</h3>
<div style="width: auto">
  <form [formGroup]="companyForm" (ngSubmit)="onSubmit()" class="new-obj">
    
    <mat-form-field>
      <mat-label for="name"> Nome </mat-label>
      <input matInput id="name" type="text" formControlName="name">
      <mat-error *ngIf="name.invalid"> {{getErrorMessage(desc.errors)}} </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="initials"> Iniciais </mat-label>
      <input matInput id="initials" type="initials" formControlName="initials">
      <mat-error *ngIf="initials.invalid"> {{getErrorMessage(desc.errors)}} </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="desc"> Descrição </mat-label>
      <input matInput id="desc" type="desc" formControlName="desc">
      <mat-error *ngIf="desc.invalid"> {{getErrorMessage(desc.errors)}} </mat-error>
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancelar</button>
      <button
        mat-button
        type="submit"
        [disabled]="!companyForm.valid"
        mat-dialog-close
      >
        Aceitar
      </button>
    </mat-dialog-actions>
  </form>
</div>

