.plotlyGraph  {
    min-height: 200px;
    width: 400px;
    height: 400px;
}

.graph-parent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.graph-children {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.grap-single {
    display: flex;
    justify-content: center;
    width: 100%;
}