<div class="graph-parent" >
    <div class="graph-children">
        <div #plotContainer id="plc"  (window:resize)="onResize()"></div>
        <div #plotContainerPie id="plcPie" (window:resize)="onResize()"></div>
    </div>
    <div #plotContainerMask id="plcMask" class="grap-single" (window:resize)="onResize()"></div>
    <div #plotContainerCrowd id="plcCrowd" class="grap-single" (window:resize)="onResize()"></div>
</div>
