<div>
  <label>Severidade</label>
  <div>
    <mat-select 
      [value]="selectedSeverity"
      (selectionChange)="selectOptionSeverity($event.value);"
    >
      <mat-option [value]="-1">Todas</mat-option>
      <mat-option [value]="0">Leve</mat-option>
      <mat-option [value]="1">Moderado</mat-option>
      <mat-option [value]="2">Grave</mat-option>
      <mat-option [value]="3">Gravíssimo</mat-option>
    </mat-select>
  </div>
  <br>
  <label>Situação</label>
  <div>
    <mat-select
      [value]="selectedSituation"
      (selectionChange)="selectOptionSituation($event.value);"
    >
      <mat-option [value]="-1">Todas</mat-option>
      <mat-option [value]="0">Câmera Ativas</mat-option>
      <mat-option [value]="1">Câmera Inativas</mat-option>
      </mat-select>
  </div>
</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button
    mat-button
    [mat-dialog-close]="{'selectedSeverity':selectedSeverity,'selectedSituation':selectedSituation}"
    cdkFocusInitial
  >
    Aceitar
  </button>
</mat-dialog-actions>
