<div mat-dialog-content class="mat-typography">
  <div id="map" class="map_canvas_dialog"></div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="selectedCoords" [disabled]="selectedCoords === undefined">
    Aceitar
  </button>
</div>
