<div class="camera-info">
  
  <div class="list">
    <ng-container>
      <table>
        <thead>
          <tr>
            <th colspan="2">Informações da Câmera</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nome</td>
            <td>{{ currentCamera.name }}</td>
          </tr>
          <tr>
            <td>Descrição</td>
            <td>{{ currentCamera.desc }}</td>
          </tr>
          <tr>
            <td>URL Primário (Detecção)</td>
            <td>{{ currentCamera.urlPrimary }}</td>
          </tr>
          <tr>
            <td>URL Secundário (Stream)</td>
            <td>{{ currentCamera.urlSecondary }}</td>
          </tr>
          <tr>
            <td>Local</td>
            <td>{{ currentCamera.city }} / {{ currentCamera.state }}</td>
          </tr>
          <tr>
            <td>Latitude</td>
            <td>{{ currentCamera.lat }}</td>
          </tr>
          <tr>
            <td>Longitude</td>
            <td>{{ currentCamera.lng }}</td>
          </tr>
          <tr>
            <td>Resolução</td>
            <td>{{ currentCamera.primaryWidth }} x {{ currentCamera.primaryWidth }}</td>
          </tr>
          <tr>
            <td>Criada em</td>
            <td>{{ currentCamera.createdAt | date }}</td>
          </tr>
          <tr>
            <td>Situação</td>
            <td>{{ currentCamera.active ? "Ativada" : "Desativada" }}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>{{ currentCamera.online ? "Online" : "Offline" }}</td>
          </tr>
          <tr>
            <td>Calibração</td>
            <td>
              {{ currentCamera.calibrated ? "Calibrada" : "Descalibrada" }}
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>

  
  <div class="camera-view">
  
    <div class="live-outer">
      <div class="pulse red live"></div>
      <h3 class="live">ao vivo</h3>
    </div>
    <div id="div-video-dash" style="position:relative;">
      
      <div *ngIf="!isLoaded" class="spinner-video">
        <mat-spinner></mat-spinner>
      </div>
      
      <img
        style="display: none;"
        id="imgDash"
        class="hand-cursor"
        [src]="getCameraStreamLink()"
        [width]="getNormalizedWidth()"
        [height]="getNormalizedHeight()"
        (click)="toggleFullScreen()"
      />
      <video style="display: none;"
        id="videoElement"
        [width]="getNormalizedWidth()"
        [height]="getNormalizedHeight()"
        (click)="toggleFullScreen()"></video>
    </div>
  </div>
</div>
