.line {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  width: 112px;
  height: 47px;
  top: 500px;
  bottom: 800px;
}

// .dashboard {
//   display: flex;
//   flex-direction: column;
//   padding-left: 3em;
//   padding-right: 2em;
//   padding-top: 1em;
//   justify-content: space-evenly;
// }

.camera-info {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  position: relative;
}
/* .list th, .list td {
      text-align: left;
  } */

.live {
  float: left;
}

.pulse {
  margin-right: 10px;
  margin-top: 0.3em;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.live-outer {
  display: flex;
  position: absolute;
  color: #fff;
  top: 2em;
  left: 2em;
  align-items: center;
}
.live-outer h3 {
  float: none;
  margin: 0;
}
#div-video-dash img {
  margin-bottom: 0.5em;
}
@keyframes redPulse {
  from {
    background-color: #bc330d;
    -webkit-box-shadow: 0 0 9px #333;
  }
  50% {
    background-color: #e33100;
    -webkit-box-shadow: 0 0 18px #e33100;
  }
  to {
    background-color: #bc330d;
    -webkit-box-shadow: 0 0 9px #333;
  }
}

div.pulse.red {
  animation-name: redPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div.form-edit {
  padding-top: 0.4em;
}

.hand-cursor {
  cursor: pointer;
}

form {
  display: table;
  grid-gap: 1em 3em;
}

::placeholder {
  color: rgb(87, 87, 87);
  opacity: 1; /* Firefox */
}
