form.base {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20em rgba(201, 208, 213, 0.43);
  border-radius: 0.25em;
  margin-top: 10%;
}
form {
  width: 24em;
  background-color: #fff;
  margin: auto 0 auto 0;
  padding: 3em 3.5em;
  min-height: 27em;
}

.eye {
  border: none;
}

.field {
  display: flex;
  // width: 100%;
  justify-content: center;
  margin: 0 0 0.8em 0;
  align-items: baseline;
}
.field.button {
  margin: 0.5em 0 0 0;
}
.field.password {
  position: relative;
}
.field.password button {
  background: transparent url("../../assets/images/blinded.svg") center
    no-repeat;
  width: 3em;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.field.password button.selected {
  background-image: url("../../assets/images/eye.svg");
}

.field.button {
  margin: 0.5em 0 2.5em 0;
}
.field.button button {
  width: 100%;
}
.field.button button {
  width: auto;
}
input {
  text-align: center;
}
a {
  color: #5a8997;
  margin-bottom: 1.5em;
}
p {
  font-size: 1.2em;
}

.login-title {
  margin-bottom: auto;
  margin-top: inherit;
}
