<div style="display: flex; justify-content: center">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="base">
    <h2 class=login-title>Login</h2>
    <div class="field identifier">
      <input
        id="username"
        formControlName="username"
        type="text"
        placeholder="E-mail"
        required
        title="Digite seu nome de usuário ou e-mail"
        autofocus
      />
    </div>

    <div class="field password">
      <input
        id="password"
        formControlName="password"
        [type]="showPassword ? 'text' : 'password'"
        value.bind="userData.pass"
        placeholder="Senha"
      />

      <button
        type="button"
        class="eye"
        (click)="togglePassword()"
        [class]="showPassword ? 'selected' : ''"
        [title]="showPassword ? 'Ocultar caracteres' : 'Mostrar caracteres'"
      ></button>
    </div>

    <div class="field button">
      <button type="submit">Entrar</button>
    </div>

    <!-- <a routerLink="/change-password">Redefinir senha</a> -->
  </form>
</div>
