@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    90% {
        opacity: 1;
        transform: scale(1.02);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
    
}