.dark {
	color: #c2d5db;
	background-color: #2c363e;
	transition: all 0.2s;
}
.dark>header {
	background-color: #131313;
}
.dark path#logo-driver {
    fill: #dbdbdb !important;
}
.dark path#logo-v {
	fill: #fe4400;
}
.dark path#logo-analytics {
	fill: #82adbb;
}
.dark footer {
	background-color: #131313;
}
.dark .documentation footer {
	background-color: transparent;
}
.dark .tabcontent footer {
	background-color: inherit;
}
.dark footer img {
	opacity: 0.5;
}
.dark h1 {
	color: #798d94;
}
.dark h2 {
	color: #527a89;
}
.dark .tabs button::before {
	filter: invert(65%);
}
.dark .tabs button.selected {
	color: #ffffff;
}
.dark .tabs button.selected span {
	filter: drop-shadow(0.1em 0.1em 0em rgba(0,0,0,0.3));
}
.dark .tabs button.selected::before {
    filter: brightness(4);
}
.dark .list aside {
	background-color: #143e4b;
}
.dark .parts {
	background-color: #131313;
}
.dark .parts h2 {
	color: #d2d2d2;
}
.dark .parts>aside {
	background-color: #294c58;
}
.dark .parts>aside button.selected {
	background-color: #336577;
}
.dark .list table {
    background-color: #1f4e5f;
}
.dark .list .items {
	background-color: #305765;
}
.dark .list.table .items {
	background-color: transparent;
}
.dark .list tbody tr {
	background-color: #00000030
}
.dark .list tbody tr:nth-child(2n + 1) {
	background-color: rgba(29, 69, 83, 0.54);
}
.dark .list tbody tr:hover {
	background-color: #bd6552;
	color: rgba(255, 255, 255, 0.85);
}
.dark .pagination {
	color:#95adb5
}
.dark .pagination a {
	color: #e0e5e8;
}
.dark .pagination .current {
	color: inherit;
}
.dark .list .tags button {
	color: #9bb3bf;
	background-color: #2d5360;
}
.dark .list .tags button.selected {
	color: #eaf3f7;
	background-color: #396f80;
}
.dark .list td.status.validated, 
.dark .tags button.validated::before {
	filter: brightness(0);
}
.dark .list .empty {
    color: #041e27;
    text-shadow: 1px 1px rgba(255,255,255,0.25);
}
.dark .list td small {
	color: rgba(255, 255, 255, 0.46);
}
.dark .list td.stars .star::before {
	filter: saturate(0.5) brightness(1.5);
}
.dark .parts h2::before {
	filter: brightness(4)
}
.dark .block {
	background-color: #2d535f;
}
.dark .indicators h2 {
	color: #b3c8d0
}
.dark .chart.ring ul,
.dark .chart.ranking output,
.dark .chart.ranking label {
	color: #b3c8d0;
}
.dark .chart.daily h3 {
    color: #82b8c7;
}
.dark .chart.daily li span {
	background-color: #c0ced2;
}
.dark .chart.daily li {
    box-shadow: 0 -4px 0 0 #518292 inset;
}
.dark .portion path + path {
	stroke: #c0ced2 !important;
}
.dark .portion text {
    fill: #82b8c7 !important;
}
.dark .list .tools button {
	color: #e0e5e8;
}
.dark .tabs button {
	color: #b3c8d0;
}
.dark .chart.ranking div {
	/* background-color: #5c828e; */
}
.dark .chart.comparative header {
	background-color: #265d71;
}
.dark .chart.comparative .groupedby,
.dark .chart.comparative header .dataset {
	box-shadow: 0.15em 0 0 0 #2c363e;
}
.dark .chart.comparative .period::after {
	filter: brightness(0.28) saturate(5)
}
.dark .period ul {
	background-color: #131313;
}
.dark .active .checkbox::before,
.dark .checkbox.active ::before{
	filter: brightness(3);
}
.dark .active .checkbox label,
.dark .checkbox.active label {
	color: #ffffff;
}
.dark label,
.dark .checkbox label,
.dark .checkbox label {
	color: rgba(255, 255, 255, 0.8);
}
.dark .active .checkbox::before,
.dark .checkbox.active::before{
	box-shadow: 0 0 0 0.1em rgba(191, 225, 230, 0.74);
	background: transparent url(images/checked.svg) no-repeat center/contain;
	filter: brightness(4);
}
.dark .player .timeline .events span {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
}
.dark .player .timeline .events .revised {
    background-color: #f7f7f7;
}
.dark .player .timeline .cursor {
    background-color: rgba(255, 255, 255, 0.9);
}
.dark .player .timeline .time, 
.dark .player .timeline .duration {
    color: #c0dfe8;
}
.dark .player .timeline .miniclip hr {
    background-color: #698c9a;
}
.dark .player .timeline input[type=range]::-webkit-slider-thumb {
	filter: brightness(10)
}
.dark .player .timeline .display {
    background-color: #fff;
    color: #131313;
}
.dark .player div.map,
.dark .player aside header,
.dark .player aside footer,
.dark .player aside {
    background-color: #000000;
    box-shadow: 0 0 0 1px #527380;
}
.dark .player aside .time, 
.dark .player aside .velocity {
    box-shadow: 1px 0 0 0 #527380;
}
.dark .player .tools button,
.dark .timeline hr {
	background-color: #47606a;
}
.dark .player div.map {
	background-image: url('../fake_data/mapa-noite.png');
}
.dartk .map .gps {
    background-image: url(images/gps-yes-dark.svg);
}
.dark .map .gps.off {
    background-image: url(images/gps-no-dark.svg);
}
.dark .googlemaps {
    background-color: transparent;
    box-shadow: none;
    filter: drop-shadow(0 0 4px #000);
    height: 3.75em;
    width: 3.75em;
}
.dark button {
    opacity: 0.92;
}
.dark button:focus {
    opacity: 1;
}
.dark .player .controls button {
	filter: brightness(1.25);
}
.dark .player>footer p b {
	color: #fefefe;
}
.dark .player>footer button {
	color: #c2d4db;
}
.dark .player>footer button.active {
	color: #ff875c;
}
.dark .player>footer {
	background-color: #141d23;
}
.dark .player aside .status output {
    color: #c0cfd5;
}
.dark .player aside .progress span {
	background-color: #727e86;
	box-shadow: 1px 0 0 0 #000;
}
.dark .player aside .info .time {
    box-shadow: none;
    color: #73b3c8;
}
.dark .player aside i {
    filter: brightness(0.6);
} 
.dark .player aside i.visualized {
    filter: brightness(3);
}
.dark .player aside footer button {
	color: #fff;
}
.dark .popup {
	background-color: #182935;
	box-shadow: 0 0 0 0.25em #2b4758, 0 0 8em rgba(0, 0, 0, 0.49);
}
.dark .modal {
    background-color: rgba(21, 36, 47, 0.86);
}
.dark .popup header {
	background-color: #2b4657;
}
.dark .popup .info {
    background-color: rgba(180, 205, 214, 0.42);
}
.dark .info th {
    color: #ccdde2;
}
.dark .info .points {
    box-shadow: 0 0 0 1px rgba(164, 194, 204, 0.5);
}
.dark .info td {
    color: #fff;
}
.dark .info .points b {
    color: #fff;
}
.dark .list.table th:hover, 
.dark .list.table th.DESC, 
.dark .list.table th.ASC, 
.dark .list.table thead {
	background-color: rgba(255,255,255,0.8);
	color: #173e4b
}
.dark select, 
.dark textarea, 
.dark input {
    box-shadow: 0 0 0 0.1em #c0d3d987;
    color: #dae9ef;
    background-color: #ffffff26;
}
.dark ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.dark .player .timeline input {
	box-shadow: none;
	background-color: transparent;
}
.dark .assign-driver {
    color: #e65e2b;
}
.dark tr:hover .assign-driver {
    color: #ffffff;
}
.dark .chart.comparative section {
	background-color: #265d71;
}
.dark .chart.comparative button {
	color: #bcd2da
}
.dark .chart.comparative .grid hr {
    border-bottom: 1px dashed #252e35;
}
.dark .chart.comparative .grid .y-labels {
    box-shadow: 1px 0 0 #252e35;
}
.dark .chart.comparative .detailed small {
	color: #7ec4de
}
.dark button.event,
.dark .event .icon, 
.dark .event.icon,
.dark button.event .icon {
    box-shadow: none;
}
.dark .player .controls ul {
	background-color: black;
}

.dark ul.tinyscroll::-webkit-scrollbar-track {
	background-color: rgb(43, 59, 66);
}
.dark ul.tinyscroll::-webkit-scrollbar {
	background-color: #1c4a69;
}
.dark ul.tinyscroll::-webkit-scrollbar-thumb {
	background-color: rgba(147, 178, 195, 0.48);
}
.dark .menu {
	background-color: #265b70;
	color: rgba(255,255,255,0.8);
}
.dark .tabcontent {
	color: rgba(255,255,255,0.8)
}
.dark .player .tools .tabset button, 
.dark .filters .tabset button, 
.dark .tabset button {
	color: #e4e4e4;
}
.dark .tabset button.selected {
	color: white;
	box-shadow: 0 -0.35em 0 -0.1em rgba(255, 255, 255, 0.55) inset;
}
.dark .filters .events li.selected span {
	color: #fff;
}
.dark .filters .events li.selected {
	background-color: #454c5e;
}
.dark .events li button {
	color: rgba(255, 255, 255, 0.7);
}
.dark .help h4 {
    color: #ffffff;
}
.dark .filters .tabcontent.period .bar button {
	filter: brightness(3);
}
.dark .filters .tabcontent.period .bar {
	background-color: #2a404c
}
.dark .trip-popup {
	background-color: #232c31;
	filter: drop-shadow(0px 1px 0.2em #000);
}