@import url('fonts.css');
@import url('top.css');
@import url('bottom.css');
@import url('form.css');
@import url('message.css');
@import url('tabs.css');
@import url('parts.css');
@import url('list.css');
@import url('chart.css');
@import url('events.css');
@import url('popup.css');
@import url('player.css');
@import url('help.css');
@import url('dark.css');
@import url('responsivity.css');

*, ::before, ::after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
ul, menu, h1 {
	margin: 0 0 1em 0;
	padding: 0;
	list-style: none;
}
body {
	font: 16px Lato, Ubuntu, Arial, Helvetica, sans-serif;
	color: #434343;
	background-color: #eef2f5;
	display: flex;
	flex-flow: column nowrap;
	min-height: 100%;
	min-width: 800px;
	transition: all 0.2s;
}
body>header {
	background-color: #fff;
	flex: 0 0 auto;
	box-shadow: 0 -1.4em 4em 0 rgba(0,0,0,0.25);
}
body>.scroll {
	overflow: auto;
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
	width: 100%;
	height: 100%;
}
body>.scroll>footer {
	margin: auto 0 0 0;
}
main {
	padding: 1.5em 2.25em;
	flex: 1 1 auto;
}
main>section {
	margin: 2em 0 0 0;
	position: relative;
}
h1 {
	color: #527a89;
	font-size: 1.45em;
	font-weight: normal;
	margin: 1.25em 0 0.5em 0;
}
h2 {
	color: #2d5867;
	font-size: 1.35em;
	margin: 0 0 1.5em 0;
	font-weight: normal;
}
h3 {
	text-transform: uppercase;
	font-size: 0.9em;
	margin: 0 0 0.75em 0;
	grid-column: 1/3;
	grid-row: 1;
	grid-auto-rows:  auto;
}
a {
	color: #fe4400;
	text-decoration: none;
}
.checkbox {
	display: flex;
	align-items: center;
	cursor: pointer;
	background-color: transparent;
}
.checkbox::before {
	content: "";
	box-shadow: 0 0 0 0.1em rgba(152, 173, 177, 0.69);
	border-radius: 0.125em;
	width: 0.8em;
	height: 0.8em;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0.5em 0 0;
	flex: 0 0 auto;
}
.checkbox:hover::before {
	box-shadow: 0 0 0 0.1em rgb(152, 173, 177);
}
.checkbox label {
	opacity: 0.8;
	cursor: pointer;
}
.checkbox:hover label {
	opacity: 1;
}
.active .checkbox::before,
.checkbox.active::before{
	box-shadow: 0 0 0 0.1em rgba(95, 125, 130, 0.5);
	background: transparent url(images/checked.svg) no-repeat center/contain;
}
.active .checkbox label,
.checkbox.active label {
	opacity: 1;
}
.goback {
	background: transparent url('images/arrow-left.svg') no-repeat center/contain;
	width: 1em;
	height: 1em;
	padding: 0;
	margin: 0 0.5em 0 0;
	vertical-align: middle;
}
.goback + span {
	vertical-align: middle;
}
.tinyscroll::-webkit-scrollbar-track {
	-webkit-box-shadow: none;
	background-color: rgba(225, 229, 232, 0.72);
}
.tinyscroll::-webkit-scrollbar {
	height: 0.25em;
	-webkit-box-shadow: none;
	background-color: rgba(238, 242, 245, 0.6196078431372549);
}
.tinyscroll::-webkit-scrollbar-thumb {
	background-color: rgba(141, 160, 171, 0.28);
}

.tinyscroll::-webkit-scrollbar {
	height: auto;
	width: 0.55em
}
.block {
	background-color: #ffffff;
	border-radius: 0.25em;
	padding: 1em;
	flex: 1 0;
	position: relative;
}
.block + .block {
	margin: 0 0 0 0.25em;
}
@keyframes loading {
	from { transform: rotate(0) }
	to { transform: rotate(359deg) }
}
.loading {
    min-height: 1em;
    background: transparent url(images/loading.svg) no-repeat center/contain;
    height: 100%;
    animation: loading 1.75s infinite ease-in-out both;
}