button {
	border: none;
	background-color: rgba(34, 131, 161, 150);
	border-radius: 0;
	color: white;
	cursor: pointer;
}
button:hover {
	opacity: 0.8;
}
button:focus {
	outline: none;
	opacity: 0.6;
}
::-webkit-input-placeholder {
    color: rgba(0,60,110,0.4);
    font-weight: normal;
}
:focus::-webkit-input-placeholder {
    color: rgba(0,60,110,0.2);
}
:disabled::-webkit-input-placeholder {
    color: rgba(0,40,60,0.4);
}
:readonly::-webkit-input-placeholder {
    color: rgba(0,60,110,0.4);
}

:-moz-placeholder {
    color: rgba(0,60,110,0.4);
    font-weight: normal;
}
:focus:-moz-placeholder {
    color: rgba(0,60,110,0.2);
}
:disabled:-moz-placeholder {
    color: rgba(0,40,60,0.4);
}
:readonly:-moz-placeholder {
    color: rgba(0,60,110,0.4);
}

::-moz-placeholder {
    color: rgba(0,60,110,0.4);
    font-weight: normal;
}
:focus::-moz-placeholder {
    color: rgba(0,60,110,0.2);
}
:disabled::-moz-placeholder {
    color: rgba(0,40,60,0.4);
}
:readonly::-moz-placeholder {
    color: rgba(0,60,110,0.4);
}

:-ms-input-placeholder {
    color: rgba(0,60,110,0.4);
    font-weight: normal;
}
:focus:-ms-input-placeholder {
    color: rgba(0,60,110,0.2);
}
:disabled:-ms-input-placeholder {
    color: rgba(0,40,60,0.4);
}
:readonly:-ms-input-placeholder {
    color: rgba(0,60,110,0.4);
}
button {
	font: inherit;
	height: 3em;
	font-weight: bold;
	padding: 0 1.75em;
}
button[type="submit"] {
	background-color: #fe4400;
	color: #fff;
}
button.cancel {
	background-color: transparent;
	color: #5993a5;
}
button.filter {
	background-color: transparent;
}
button.filter.toggle span {
    background: url(images/filter.svg) no-repeat right center / 2em;
    padding: 0 2em 0 0;
    height: 2em;
    display: flex;
    align-items: center;
}
button.toggle {
	display: flex;
	align-items: center;
}
button.toggle::after {
    content: "";
    background: transparent url(images/arrow-option.svg) center no-repeat;
    width: 1em;
    height: 1em;
    display: inline-block;
    margin: 0.1em 0 0 0.25em;
}
button:disabled {
	color: rgba(138, 138, 138, 0.4);
	background-color: #d7dcde;
	text-shadow: 1px 1px #ffffff94;
}
form {
	display: grid;
	flex-flow: column nowrap;
	width: 100%;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0 3em;
}
.field {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 0 0 0.8em 0;
	align-items: baseline;
}
.field.button {
	margin: 0.5em 0 0 0;
}
.field.password {
	position: relative;
}
.field.password button {
	background: transparent url('images/blinded.svg') center no-repeat;
	width: 3em;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.field.password button.selected {
	background-image: url('images/eye.svg');
}
select,
textarea,
input {
	padding: 0.5em 0.75em;
	font: inherit;
	font-size: 1em;
	border: none;
	box-shadow: 0 0 0 0.1em #c0d3d9;
	color: #527a89;
	width: 100%;
	text-align: left;
	background-color: #fff;
}
input[type='password'] {
	padding-right: 2.5em;
	padding-left: 2.5em;
}
select, textarea {
	overflow: auto;
}
textarea {
	min-height: 7em;
}
select[multiple] {
	padding: 0;
}
select option {
	padding: 0.25em 0.5em;
}
section>section {
	padding: 1.5em 2em;
}
section>form {
	padding: 1.5em 2em;
}
label {
	color: #527b89;
	flex: 1 0 auto;
	margin: 0 1em 0 0;
	width: 30%;
	padding: 0.125em 0 0 0;
	line-height: 1.1em;
}
form .tools {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	margin: 1.5em 0 0 0;
	grid-column: 1/3;
}
form .tools button span {
	font-size: 0.96em;
}
form footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	margin: 1.5em 0 0.5em 0;
	grid-column: 1/3;
}
form div:first-child + footer {
    grid-column: 1;
}
footer button {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin: 0 0 0 1em;
	padding: 2em 1.75em;
}
footer button small {
	font-weight: normal;
	font-size: 0.75em;
	display: block;
}
.remove-item {
	position: absolute;
	top: -0.5em;
	right: 0em;
	font-size: 0.9em;
	height: 2.8em;
}

/* range */
input[type=range] {
	-webkit-appearance: none;
	box-shadow: none;
	background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.475em;
  cursor: pointer;
  background: #cddde1;
}
input[type=range]::-webkit-slider-thumb {
  height: 1.25em;
  width: 0.5em;
  background: #434343;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.35em;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fe4400;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.475em;
  cursor: pointer;
  animate: 0.2s;
  background: #cddde1;
}
input[type=range]:focus::-moz-range-track {
  background: #fe4400;
}
input[type=range]::-moz-range-thumb {
  height: 1.5em;
  width: 0.5em;
  background: #434343;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5em;
  border-radius: 0;
  border: none;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 0.475em;
  cursor: pointer;
  animate: 0.2s;
  background: #cddde1;
  border: none;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #e16f46;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
input[type=range]::-ms-fill-upper {
  background: #cddde1;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
input[type=range]::-ms-thumb {
  height: 1.5em;
  width: 0.5em;
  background: #434343;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5em;
  border-radius: 0;
  border: none;
  box-shadow: none;
}
input[type=range]:focus::-ms-fill-lower {
  background: #fe4400;
}
input[type=range]:focus::-ms-fill-upper {
  background: #a3c3cb;
}