help-menu {
    order: 10;
    margin: 0 1.5em;
}
help-menu .cap>button {
    border-radius: 50%;
    background: #EEF2F5 url('../images/help.svg') no-repeat center / contain;
    transform: scale(0.45);
}
help-menu .cap>button::before {
    transform: scale(1.55);
}
help-menu .cap>button span {
    display: none;
}
help-menu.menu .curtain {
    right: -1em;
    left: unset;
}
help-menu.menu .curtain:before,
help-menu.menu .curtain li:first-child a:before {
    right: 1em;
    left: unset;
}
help-menu .curtain ul span {
    white-space: nowrap;
}