.help .tabcontent {
	color: #588694;
	padding: 0em 0.75em 0.75em 0.75em;
}
.help .tabcontent.shortcuts {
	padding: 0 0 0.75em 0;
}
.help .shortcuts ul {
	overflow: auto;
	max-height: 22em;
	padding: 0 0.5em;
}
.help .shortcuts li {
	box-shadow: 0 1px 0 0 rgba(149, 181, 189, 0.4);
	padding: 0.75em 0.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.help .tabcontent.shortcuts span {
	margin: 0 auto 0 0;
}
kbd {
	box-shadow: 0 0 0 1px #c5d7dc,  0 3px 0 1px #c5d7dc;
	border-radius: 0.2em;
	padding: 0.5em;
	font-size: 0.9em;
	margin: 0.25em;
	background-color: #f6f9f9;
	color: #2e5864;
	flex: 0 0 auto;
}
.shortcuts li kbd:first-of-type {
	margin-left: 0.5em;
}
.help h4 {
	color: #434343;
	font-size: 1.05em;
	margin: 1em 0 0 0;
}
.help p {
	margin: 0.75em 0;
}
.help footer {
	margin: 1em 0 0 0;
	text-align: right;
}
.help video {
	background-color: rgba(2, 56, 70, 0.3);
}