.list {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	margin: 0.75em 0 2em 0;
}
.list.table {
	margin: 0.75em 0 0 0;
}
.list aside {
	background-color: rgba(32, 78, 93, 0.72);
	width: calc(5em + 12%);
}
.list aside header {
	background-color: #131313;
	padding: 0.65em 0.7em;
	text-transform: uppercase;
	font-weight: bold;
	display: flex;
	align-items: center;
	font-size: 0.9em;
}
.list aside header::before {
	content: "";
	width: 2em;
	height: 1em;
	background: transparent url(images/filter.svg) no-repeat left/contain;
	filter: brightness(4);
}
.list aside header span {
	font-size: 0.9em;
	color: #ffffff;
}
.list aside li {
	padding: 0.5em 0.75em;
	color: rgba(255, 255, 255, 0.7);
	display: flex;
	flex-flow: row wrap;
	position: relative;
	box-shadow: 0 0.125em 0 0 rgba(64, 97, 107, 0.6);
	margin: 0 0 0.1em 0;
	align-items: center;
	/* min-height: 2em; */
	/* max-height: 2.3em; */
	/* transition: all 0.2s; */
}
.list aside li:last-child {
	box-shadow: none;
}
.list aside .show {
    /* min-height: 4.2em; */
    /* max-height: 20em; */
    /* transition: all 0.2s; */
}
.list aside .active {
	background-color: rgba(64, 97, 107, 0.6);
	box-shadow: 0 0.125em 0 0 rgba(82, 123, 137, 0.5);
}
.list aside .toggle {
    background: transparent url(images/plus.svg) no-repeat center/50%;
    margin: 0 0 0 auto;
    width: 2em;
    height: 2em;
    position: absolute;
    right: 0em;
    padding: 0;
    opacity: 0.5;
    top: 0em;
}
.list aside .show .toggle {
    background-image: url(images/minus.svg);
}
.list aside .fields {
	width: 100%;
	margin: 0;
	transition: all 0.2s;
	display: flex;
	flex-flow: column;
}
.list aside .show .fields {
	margin: 0.75em 0em 0.25em 0em;
	transition: all 0.2s;
}
.list .active .checkbox::before,
.list .checkbox.active::before{
	filter: brightness(3);
}
.list aside select,
.list aside input {
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 0.15em;
	font-size: 0.95em;
	padding: 0;
	text-align: left;
	color: #304951;
	font-weight: bold;
	opacity: 0;
	max-height: 0em;
	transition: all 0.2s;
}
.list aside .show select,
.list aside .show input {
	max-height: 2em;
	opacity: 1;
	transition: all 0.2s;
	padding: 0.125em 0.25em;
	min-height: 1.75em;
}
.list aside .show select[multiple] {
	max-height: 8em;
	padding: 0;
}
.list aside select:focus,
.list aside textarea:focus,
.list aside input:focus {
	box-shadow: 0 0 0 0.125em #ffffff;
	background-color: rgba(255, 255, 255, 0.6);
	outline: none;
}
.list aside .show .fields>div {
	margin-bottom: 0.5em;
	max-height: 100em;
}
.list aside .fields>div {
	margin-bottom: 0;
	max-height: 0;
}
.list aside label {
	font-size: 0.9em;
	color: #FFF;
}
.list .items {
	padding: 1.5em;
	flex: 1;
	background-color: #cadae0;
	width: calc(5em - 88%);
}
.list.table .items {
	padding: 0;
	background-color: transparent;
}
.list table {
	border-collapse: collapse;
	width: 100%;
	background-color: #b6cdd6;
}
.list thead {
	background-color: rgba(0, 45, 58, 0.58);
}
.list.table th:hover,
.list.table th.DESC,
.list.table th.ASC,
.list.table thead {
	background-color: white;
}
.list.table th::after {
	filter: brightness(1);
}
.list th {
	color: rgba(253, 254, 254, 0.8);
	font-weight: normal;
	font-size: 0.82em;
	vertical-align: middle;
	cursor: pointer;
}
.list.table th {
	color: #4e7685;
}
.list th:hover {
	background-color: rgba(0,0,0,0.1);
}
.list tbody tr {
	background-color: #eff5f7;
	cursor: pointer;
}
.list tbody tr:nth-child(2n + 1) {
	background-color: rgba(239, 245, 247, 0.7);
}
.list tbody tr:hover {
	background-color: #fff5e9;
	color: #000;
}
.list.table tbody tr:hover {
	background-color: #e65f30;
	color: #fff;
}
.list th,
.list td {
	padding: 0.5em 1em;
	text-align: center;
	background-image: none;
}
.list td {
	font-size: 0.92em;
	padding: 0.75em 1em;
	position: relative;
}
.list th::after {
	content: "";
	background: transparent none no-repeat center / 70%;
	height: 1em;
	width: 0;
	margin: -0.25em -0.5em -0.2em 0.5em;
	display: inline-block;
	text-align: center;
	filter: brightness(4);
	transition: all 0.3s;
	vertical-align: middle;
}
.list th span {
	padding: 0.5em;
	transition: all 0.3s;
}
.list th.DESC span,
.list th.ASC span {
	padding: 0;
	transition: all 0.3s;
}
.list th.DESC,
.list th.ASC {
	color: #ffffff;
}
.list.table th.DESC,
.list.table th.ASC {
	color: #7eacb9;
}
.list th.DESC::after,
.list th.ASC::after {
	width: 1em;
	background-image: url("images/arrow-option.svg");
	transition: all 0.3s;
}
.list th.ASC::after {
	transform: rotate(180deg);
}
.list td span,
.list td small {
	display: block;
}
.list td small {
	color: #5b6466;
}
.list .tags {
	display: flex;
	margin: -1em 0 0.5em 0;
}
.list .tags button {
	background-color: transparent;
	display: flex;
	text-transform: uppercase;
	font-weight: normal;
	color: #476b77;
	justify-content: center;
	padding: 0 calc(0.5em + 1.5%);
	margin: 0 0.4em 0 0;
	font-size: 0.75em;
	border-radius: 0.15em;
	align-items: center;
	white-space: nowrap;
	box-shadow: 0 0 1px 0 rgba(104, 150, 165, 0.8);
}
.list .tags button:hover {
	background-color: rgba(71, 107, 119, 0.1);
}
.list .tags button:focus {
	opacity: 1;
}
.list .tags button.selected {
	background-color: #ffffff;
	box-shadow: 0 3px 3px -2px rgba(0,0,0,0.1);
}
.list .tags button::before {
	content: "";
	background: transparent url('images/tag.svg') no-repeat center/contain;
	width: 1.5em;
	height: 1.5em;
	margin: 0 0.5em 0 -0.25em;
}
.list .tags button::before {
	
}
.list .tagged {
	background: transparent none no-repeat center/1.5em;
}
.list .tagged.status span {
	display: none;
}
.list .empty {
	color: #7b97a0;
	text-shadow: 1px 1px rgba(255,255,255,0.75);
	font-size: 1.1em;
	text-align: center;
}
.list td.status.analyzed,
.tags button.analyzed::before {
	background-image: url("images/analyzed.svg");
}
.list td.status.pending,
.tags button.pending::before {
	background-image: url("images/alert.svg");
}
.list td.status.validated,
.tags button.validated::before {
	background-image: url("images/validated.svg");
}
.list td.status.revised,
.tags button.revised::before {
	background-image: url("images/revised.svg");
}
.list td.points span {
	font-size: 1.2em;
	font-weight: bold;
}
.list th.stars span {
	display: none;
}
.list th.stars::before {
	content: "";
	width: 1.5em;
	height: 1.5em;
	background: transparent url('images/star-on.svg') no-repeat center / contain;
	display: inline-block;
	filter: brightness(4);
	opacity: 0.7;
	vertical-align: middle;
}
.list td.stars span {
	display: none;
}
b.star {
	content: "";
	width: 4.5em;
	height: 1.5em;
	background: transparent url('images/star-off.svg') repeat-x left / contain;
	display: inline-block;
	opacity: 0.8;
	text-align: left;
}
.star::before {
	content: "";
	height: 100%;
	background: transparent url('images/star-on.svg') repeat-x left / contain;
	display: inline-block;
}
.star_1::before {
	width: 1.5em;
}
.star_2::before {
	width: 3em;
}
.star_3::before {
	width: 4.5em;
}
.pagination {
	display: flex;
	flex-flow: row wrap;
	color: #476b77;
	padding: 1em 0;
	align-items: flex-start;
	font-size: 0.9em;
}
.pagination .pageinfo {
	flex: 1 0 20%;
	text-align: center;
}
.pagination .total {
	flex: 0 0 40%;
}
.pagination .total span {
	margin: 0 0.5em 0.25em 0.5em;
	display: inline-block;
}
.pagination .pagenav {
	flex: 0 0 40%;
	padding: 0;
	white-space: nowrap;
	text-align: right;
}
.pagination a {
	text-decoration: none;
	color: #000000;
	min-width: 1.5em;
	display: inline-block;
	text-align: center;
	margin: 0 0.25em;
}
.pagination .current {
	color: inherit;
	cursor: default;
	font-weight: bold;
	font-size: 1.1em;
}
.list h3 {
	width: 50%;
	display: flex;
	align-items: flex-end;
}
.list .tools {
	width: 50%;
	flex: 1 0 auto;
	display: flex;
	flex-flow: row-reverse;
}
.tools button {
	margin: 0 0 0 1em;
	background-color: transparent;
	font-weight: normal;
	color: #476b77;
	align-items: center;
	display: flex;
	padding: 0;
	font-size: 0.8em;
	opacity: 0.999;
}
.tools button::before {
	content: "";
	flex: 0 0 auto;
	width: 2em;
	height: 2em;
	background: #2283a1 no-repeat center / contain;
	margin: 0 0.5em;
	order: 2;
}
.tools button.add::before {
	background-image: url('images/plus.svg');
	background-size: 80%;
	border-radius: 50%;
}
.tools button.export::before {
	background-color: transparent;
	background-image: url('images/export.svg');
}
.tools button.remove-item::before {
	background-image: url('images/plus.svg');
	background-size: 85%;
	border-radius: 50%;
	transform: rotate(45deg);
	background-color: #e84005;
}
.tools button.reset::before {
	background-image: url('images/restart.svg');
	background-size: 70%;
	border-radius: 50%;
	background-color: rgba(34, 131, 161, 0.6);
}
.trip-popup {
	position: absolute;
	background-color: #fff;
	z-index: 1;
	display: none;
	width: 11em;
	left: 0;
	transform: translateX(-3.15em);
	bottom: 100%;
	padding: 0.5em;
	filter: drop-shadow(0 0 .2em rgba(0,0,0,0.2));
	text-align: center;
}
.trip-popup::before {
	content: "";
	width: 1em;
	height: 1em;
	position: absolute;
	background-color: inherit;
	top: 100%;
	left: 50%;
	transform: rotate(45deg) translateX(-75%);
}
td:hover .trip-popup {
	display: block;
}
.trip-popup .details {
	display: flex;
	flex-flow: row wrap;
	font-size: 0.86em;
}
.trip-popup .details>div {
	display: flex;
	flex-flow: column nowrap;
	flex: 1 0 auto;
	padding: 0.5em 0;
}
.trip-popup .penalty {
	width: 100%;
	font-size: 1.2em;
	box-shadow: 0 0.25em 0 -0.15em #cadae0;
	padding: 0.25em;
}
.trip-popup label {
	text-align: center;
	width: auto;
	margin: auto;
	text-transform: uppercase;
	font-size: 0.7em;
	color: #131313;
}
.trip-popup .plus  {
	background: transparent url('images/plus.svg') no-repeat center/100%;
	filter: brightness(0.7);
}
.trip-popup output {
	color: #fe4400;
	font-size: 1.6em;
}
.trip-popup .penalty span {
	background: transparent url('images/penalty.svg') no-repeat center/100%;
}
.assign-driver {
	background-color: transparent;
	padding: 0;
	font-weight: 600;
	color: #fe4400;
	position: relative;
	z-index: 2;
}