body {
	align-items: center;
	justify-content: center;
}
body>header {
	height: 7em;
	background-color: #fff;
	display: flex;
	align-items: center;
	padding: 0 1em;
}
body>footer {
	height: 4em;
}
.product-logo {
	width: 14.75em;
	height: 4em;
	margin: 1.5em;
}
header .product-logo {
	width: 14.75em;
	height: 3.5em;
}
main {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	width: 100%;
	padding: 2em 2.5em;
	flex: 1 0 auto;
}
main.login {
	justify-content: center;
	align-items: center;
	height: auto;
}
body>.scroll>.login+footer {
	background-color: transparent;
	flex: 1 1 auto;
}
form {
	width: 30em;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	/* box-shadow: 0 0 20em rgba(201, 208, 213, 0.43); */
	padding: 1.5em;
	background-color: rgba(201, 208, 213, 0.43);
	border-radius: 0.25em;
}
.login form {
	width: 24em;
	background-color: #fff;
	margin: auto 0 auto 0;
	padding: 3em 3.5em;
	min-height: 27em;
}
.login .field.button {
	margin: 0.5em 0 2.5em 0;
}
.field.button button {
	width: 100%;
}
.login .field.button button {
	width: auto;
}
.login input {
	text-align: center;
}
a {
	color: #5a8997;
	margin-bottom: 1.5em;
}
p {
	font-size: 1.2em;
}
footer {
	margin: auto 0 2em 0;
}
footer img {
	width: 6.77em;
	height: 1em;
}