.menu {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    z-index: 10;
}
.menu .cap {
    display: flex;
    flex-flow: row;
}
.menu .cap>button {
    width: 3.5em;
    height: 3.5em;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}
.menu .cap>button:focus,
.menu .cap>button:hover {
    background-color: #EEF2F5;
}
.menu .cap>button::before {
    content: "";
    position: absolute;
    width: 1em;
    height: 100%;
    background: url('../images/spin.svg') no-repeat center;
    right: -2em;
    top: 0;
    opacity: 0.4;
}
.menu.visible .cap>button::before {
    opacity: 1;
}
.menu.visible .cap>button {
    background-image: url('../images/close.svg');
}
.menu .curtain {
    position: absolute;
    top: 100%;
    left: 1em;
    display: none;
    animation: show 0.15s ease-out reverse;
    background-color: #fcfcfc;
    filter: drop-shadow(2px 2px 1em rgba(0,0,0,0.125)) drop-shadow(1px 1px 3px rgba(0,0,0,0.125));;
    border-radius: 0.125em;
    min-width: fit-content;
}
.menu ul {
    padding: 0;
    margin: 0;
    position: relative;
}
.menu.visible .curtain {
    animation: show 0.15s ease-out;
    display: block;
}
.menu li {
    display: flex;
    flex-flow: column;
    position: relative;
    height: calc(1em * 3);
}
.menu .curtain>div {
    display: flex;
    flex-direction: column;
}
.menu .curtain>div>span {
    white-space: nowrap;
    color: #527B89;
    padding: 0.5em 1em 0.5em 0;
    margin: 0.5em 0 0 0;
}
.menu .curtain>div:first-child>span {
    padding-top: 0;
    margin: 0;
}
.menu .curtain li:first-child a:before,
.menu .curtain:before {
    content: "";
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    top: calc(1em * -0.25);
    transform: rotate(45deg);
    background: inherit;
    left: 0.5em;
    z-index: -1;
}
.menu .curtain>div li:first-child a:before {
    content: unset;
}
.menu .curtain>div li {
    margin: 0 0 0.125em 0;
}
.menu .curtain li a {
    padding: calc(1em * 0.5) calc(1em * 1);
    display: flex;
    align-items: center;
    background-color: #fcfcfc;
    height: 100%;
    border-radius: 0.125em;
    min-width: 10em;
}
.menu .curtain li a:hover {
    background-color: #EEF2F5;
    transition: .2s all;
    text-decoration: none;
}
.menu .curtain>div li a {
    background-color: #ecf0f6;
    transition: .2s all;
}
.menu .curtain>div li a:hover {
    background-color: #f6f6f9;
}
.menu li.selected a,
.menu li.selected a:hover {
    background-color: #FE4400;
    color: #fbfbfb;
    cursor: default;
    font-weight: bold;
}
.menu li.selected .icon {
    filter: brightness(10);
}

.menu li span {
    margin-right: 1em;
}
.menu li .icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: calc(1em * 2);
    height: calc(1em * 2);
}
.menu li span:last-child {
    min-width: calc(1em * 6)
}