@keyframes success {
	0% {background-color: #13a63b;}
	40% {background-color: #1a6a30;}
	100% {background-color: #13a63b;}
}
@keyframes log {
	0% {background-color: #8b9092;}
	40% { background-color: #5a80a0; }
	100% {background-color: #8b9092;}
}
@keyframes info {
	0% { background-color: #25a7c5; }
	40% { background-color: #5a80a0; }
	100% { background-color: #25a7c5; }
}
@keyframes warn {
	0% { background-color: #edc500; }
	40% { background-color: #5a80a0; }
	100% { background-color: #edc500; }
}
@keyframes alert {
	0% { background-color: #edc500; }
	40% { background-color: #5a80a0; }
	100% { background-color: #edc500; }
}
@keyframes error {
	0% { background-color: #ec2e39 }
	40% { background-color: #000; }
	100% { background-color: #ec2e39; }
}
.message {
    flex: 1 0 auto;
    padding: 0.75em 1.5em;
    box-shadow: 0.05em 0.2em 0.5em -0.1em rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.95);
    display: flex;
    align-items: center;
    font-size: 0.9em;
    position: fixed;
    z-index: 200;
    bottom: 16%;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    animation-fill-mode: forwards !important;
    animation-duration: 0.3s;
    animation-iteration-count: 3;
	animation-name: log;
}
.message.success {
	animation-name: success;
}
.message.log {
	animation-name: log;
}
.message.info {
	animation-name: info;
}
.message.warn {
	animation-name: warn;
}
.message.alert {
	animation-name: alert;
}
.message.error {
	animation-name: error;
	animation-iteration-count: 5;
}
.message button {
	content: "";
    background: transparent url(images/close.svg) no-repeat center/75% content-box;
    width: 1.2em;
    height: 1.2em;
    margin: 0 -0.5em 0 1.25em;
    filter: brightness(10);
    padding: 0;
}
.message a,
.message span {
	vertical-align: middle;
	color: inherit;
}