nav-menu {
    align-content: stretch;
    order: 0;
}
nav-menu .cap>button {
    background: transparent url('../images/button-menu.svg') center/contain;
    border-radius: 50%;
    transform: scale(0.75);
}
nav-menu .cap>button span {
    display: none;
}
nav-menu.menu .cap>button::before {
    content: none;
}