.parts {
	display: flex;
	flex-flow: row nowrap;
	background-color: #ffffff;
	/* padding: 1.5em 2em; */
	margin: 0;
}
.parts>aside {
	background-color: #527b89;
	width: calc(6.5em + 2%);
}
.parts>aside button {
	background-color: inherit;
	opacity: 0.7;
	text-align: center;
	padding: 1.5em 1em;
	font-size: 0.9em;
	width: 100%;
	font-weight: normal;
	height: auto;
	position: relative;
	transition: all .2s;
}
.parts>aside button.selected {
	background-color: #2d5867;
	opacity: 1;
	transition: all .2s;
}
.parts>aside button::after {
	content: "";
	position: absolute;
	background-color: inherit;
	height: 1em;
	width: 1em;
	transform: rotate(45deg);
	top: calc(50% - 0.45em);
	right: 0.253em;
	transition: right 0.2s;
}
.parts>aside button.selected::after {
	right: -0.45em;
	transition: right 0.2s;
}
.parts>aside button::before {
	content: "";
	display: block;
	width: 3em;
	height: 2.25em;
	background: transparent url('images/settings.svg') no-repeat center / contain;
	vertical-align: middle;
	margin: 0 auto 0.25em auto;
	filter: brightness(5);
}
.parts h2::before {
	display: inline-block;
	width: 1.75em;
	height: 1.45em;
	background: transparent url('images/settings.svg') no-repeat left center / contain;
	vertical-align: middle;
	margin: 0 auto 0.25em auto;
	opacity: 0.8;
	content: "";
	filter: sepia() brightness(0.6) saturate(3) hue-rotate(150deg);
}
.parts .vehicle h2::before,
.parts .vehicle h2 .icon,
.parts>aside button.vehicle::before {
	background-image: url('images/bus.svg');
}
.parts .cam h2::before,
.parts .cam h2 .icon,
.parts>aside button.cam::before {
	background-image: url('images/camera.svg');
}
.parts .modules h2::before,
.parts .modules h2 .icon,
.parts>aside button.modules::before {
	background-image: url('images/config.svg');
}


.parts .distance h2::before,
.parts .distance h2 .icon,
.parts>aside button.distance::before {
	background-image: url('images/distance.svg');
}
.parts .band h2::before,
.parts .band h2 .icon,
.parts>aside button.band::before {
	background-image: url('images/band.svg');
}
.parts .rhythm h2::before,
.parts .rhythm h2 .icon,
.parts>aside button.rhythm::before {
	background-image: url('images/rhythm.svg');
}
.parts .velocity h2::before,
.parts .velocity h2 .icon,
.parts>aside button.velocity::before {
	background-image: url('images/flash.svg');
}
.parts .curves h2::before,
.parts .curves h2 .icon,
.parts>aside button.curves::before {
	background-image: url('images/curve.svg');
}
.parts .balance h2::before,
.parts .balance h2 .icon,
.parts>aside button.balance::before {
	background-image: url('images/weight.svg');
}

.parts h2 .icon {
}
.parts section {
	padding: 1.5em 2em;
	width: 100%;
}

.parts p {
	color: #527b89;
	margin: 0 0 1em 0;
}

.parts .seriousness .level {
	box-shadow: 0 0 0 1px rgba(176, 198, 207, 0.7);
	color: #527b89;
}
.parts form.seriousness {
	display: grid;
	grid-template-columns:  1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 2em;
	width: 100%;
}
.parts .balance header,
.parts .seriousness header {
	display: flex;
	align-items: center;
	background-color: rgba(152, 182, 192, 0.15);
	padding: 0.5em 0.8em;
	box-shadow: 0 0 0 1px rgba(176, 198, 207, 0.7);
	width: 100%;
}
.parts .seriousness .levels {
	box-shadow: none;
	font-size: 0.5em;
	height: 2em;
	width: 3em;
	margin: 0 0 0 auto;
	opacity: 0.3;
}
.parts .seriousness .active .levels {
	opacity: 1;
}
.parts .seriousness .fields {
	padding: 0.8em 0.7em;
}
.parts .seriousness .field {
	margin: 0 0 1em 0;
	box-shadow: 0 1px 0 0 rgba(176, 198, 207, 0.7);
	padding: 0 0.5em 0.75em 0.5em;
	display: flex;
	align-items: center;
}
.parts .seriousness .field:last-child {
	box-shadow: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.parts .seriousness .field label {
	padding: 0;
	width: calc(100% - 5em);
	flex: 0 1 auto;
}
.parts .seriousness .field input {
	padding: 0.35em;
	width: 4em;
	font-size: 1.1em;
	box-shadow: 0 0 0 1px #cddce2;
	text-align: center;
}
.parts .seriousness .deactivated {
	display: flex;
	align-items: center;
	height: calc(100% - 3em);
	justify-content: center;
	background-color: rgba(152, 182, 192, 0.15);
	/* min-height: 7.8em; */
	padding: 1.05em;
}
.parts .seriousness .deactivated span {
	font-size: 0.85em;
	text-align: center;
	max-width: 18em;
}
.parts .seriousness .tools {
	grid-column: 1/3;
}
.parts form.balance {
	grid-template-columns: 2fr 7fr;
	grid-gap: 0em 5em;
}
.parts form.balance .tools {
	margin: 0.3em 0;
}
.parts .balance .coefficient {
	text-align: center;
	color: #537e8b;
	font-size: 0.9em;
	grid-row: 2/9;
	grid-column: 1;
}
.parts .balance .coefficient>span {
	margin: 0.5em 1em;
	display: block;
}
.parts .balance .coefficient input {
	width: 80%;
	display: block;
	margin: 0.25em auto;
}
.parts .balance .coefficient strong {
	font-size: 1.5em;
}
.parts .balance .coefficient p {
	font-size: 0.86em;
	line-height: 1.5;
	margin: 2em 0
}
.parts .balance .ring {
	position: relative;
	height: auto;
}
.parts .balance .ring:hover ul {
	display: block;
}
.parts .balance .ring:hover svg {
	opacity: 0.7;
}
.parts .balance .ring ul {
	position: absolute;
	left: 97.5%;
	top: 1em;
	background-color: rgba(255,255,255,0.95);
	padding: 0.75em;
	box-shadow: 0 0 0 1px #abc;
	display: none;
	min-width: 14em;
	text-align: left;
	z-index: 2;
}
.balance .field {
	display: flex;
	flex-flow: column nowrap;
	box-shadow: 0 0 0 1px rgba(176, 198, 207, 0.7);
	margin: 0 0 1.5em 0;
	position: relative;
}
.balance .field .event.icon {
	content: "";
	width: 2.3em;
	height: 2.3em;
	position: absolute;
	background-color: gray;
	top: 0;
	left: -3em;
	border-radius: 50%;
}
.balance header h4 {
	font-size: 0.9em;
	color: #537e8b;
	flex: 0 1 auto;
	margin: 0 auto 0 0;
	white-space: nowrap;
}
.balance header input {
	flex: 0 0 auto;
	width: 15%;
	font-size: 0.85em;
	margin: 0 1em;
}
.balance header p {
	display: flex;
	margin: 0;
	font-size: 0.85em;
	align-items: baseline;
}
.balance header b {
	margin: 0 0.75em 0 0;
	font-size: 1.2em;
	font-weight: normal;
	width: 2.75em;
	text-align: right;
}
.balance header .opt {
	transition: all 0.2s;
}
.balance .hidden .opt {
	transform: rotate(-90deg);
	transition: all 0.2s;
}
.parts .balance .seriousness {display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;grid-gap: 3em;padding: 1.25em;height: 4em;transition: all 0.2s;}
.parts .balance .seriousness .levels {
	margin: 0;
	opacity: 1;
	width: auto;
	font-size: 0.8em;
}
.parts .balance .levels output {
	font-size: 1.3em;
	width: 2em;
}
.balance .hidden .seriousness {
	height: 0;
	padding: 0;
	overflow: hidden;
	transition: all 0.2s;
	opacity: 0;
}