*, *::before, *::after {
    box-sizing: border-box;
  }
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    font-family: Ubuntu;
    font-size: 1em; 
    background-color: #EEF2F5;
	font: 16px Lato, Ubuntu, Arial, Helvetica, sans-serif;
	color: #434343;
	background-color: #eef2f5;
}
app-root,
.app {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: 100%;
}
body header {
    background-color: #fbfbfb;
    display: flex;
    flex-direction: row;
    height: 3.5em;
    justify-content: flex-start;
    align-items: stretch;
}
body main {
    margin-bottom: auto;
    display: flex;
    padding: 1em;
    flex-direction: column;
    overflow: auto;
}
main router-outlet + * {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
} 
body footer {
    background-color: #fcfcfc;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
header ul,
footer ul,
aside ul
{
    list-style: none;
    padding: 0;
    /* margin: 0; */
}
aside {
    margin: 1em
}
header .logo {
    display: flex;
    margin: 0 auto 0 0;
    width: calc(1em * 16);
    order: 1;
}
header .logo img {
    width: 100%;
}
main>section {
    margin: 1em
}
nav-menu,
nav {
    display: flex;
    align-content: stretch;
    order: 0;
    position: relative;
}

body a {
    text-decoration: none;
    color: #434343;
}
:focus {
    outline: none;
}
button {
    cursor: pointer;
    padding: 1em 2em;
    border: none;
    font: inherit;
    margin: 0 1em 0 0;
}
button[type="submit"] {
    background-color: #fe4400;
    color: #EEF2F5;
    font-weight: bold;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1em;
}
.companies .icon {
    background-image: url("../images/icons/company.svg");
}
.users .icon {
    background-image: url("../images/icons/user.svg");
}
.registers .icon,
.cameras .icon {
    background-image: url("../images/icons/camera.svg");
}
.events .icon {
    background-image: url('../images/icons/events.svg');
}
dt {
    margin: 2em 0 0.5em 0;
    font-size: 1.2em;
    color: #527B89;
}
dd {
    margin: 0 0 2em 0;
    line-height: 1.4em;
}
dd li {
    margin: 0.75em 0;
}