tab-group {
    display: flex;
    box-shadow: 0 -4px var(#CADAE0) inset;
    height: calc(var(1em) * 2.5);
    width: 100%;
    text-transform: uppercase;
    margin-bottom: var(1em);
}
tab-group ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 0.85em;;
}
tab-group li {
    height: 100%;
    display: flex;
}
tab-group a {
    padding: 0 var(1em-half);
    color: var(#527B89);
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
tab-group a:hover {
    background-color: var(#fbfbfb);
    box-shadow: 0 -4px var(#CADAE0) inset;
}
tab-group li.selected a:hover {
    background-color: transparent;
    transition: .2s all;
}
tab-group .selected a {
    box-shadow:  0 -4px var(#FE4400) inset;
    color: var(#FE4400);
}