.tabs {
    box-shadow: 0 -0.2em 0 0 rgba(123, 163, 177, 0.33) inset;
    margin-bottom: 0.2em;
    white-space: nowrap;
    overflow: auto;
}
.tabs button {
	text-transform: uppercase;
	font-weight: normal;
	color: #527b89;
	font-size: 0.8em;
	background-color: transparent;
	height: 3.25em;
	padding: 0 1.5%;
}
.tabs button:focus {
	opacity: 1;
}
.tabs button::before {
	content: "";
	display: inline-block;
	width: 1.75em;
	height: 1.75em;
	background: transparent url('images/settings.svg') no-repeat center / contain;
	vertical-align: middle;
	margin: 0 0.5em 0 -0.3em;
}
.tabs button span {
	display: inline-block;
	vertical-align: middle;
}
.tabs button.selected {
	font-weight: 500;
	color: #fe4400;
	box-shadow: 0 -0.35em 0 -0.1em rgba(255, 80, 0, 0.65) inset;
}
.tabs button.drivers::before {
	background-image: url('images/driver.svg');
}
.tabs button.events::before {
	background-image: url('images/flash.svg');
}
.tabs button.vehicles::before {
	background-image: url('images/bus.svg');
}
.tabs button.trips::before {
	background-image: url('images/suitcase.svg');
}
.tabs button.bases::before {
	background-image: url('images/four-dots.svg');
}
.tabs button.lines::before {
	background-image: url('images/arrow-lines.svg');
}
.tabs button.users::before {
	background-image: url('images/user.svg');
}
.tabs button.config::before {
	background-image: url('images/config.svg');
}
.tabs button.companies::before {
	background-image: url('images/company.svg');
}

