user-menu {
    order: 2;
    margin: 0;
}
user-menu .cap>button {
    border-radius: 50%;
    background: #CADAE0 url('../images/user-placeholder.svg') no-repeat center / contain;
    transform: scale(0.6);
}
user-menu .cap>button::before {
    transform: scale(1.25);
}
user-menu .cap>button span {
    display: none;
}
user-menu.menu .curtain {
    right: -1.5em;
    left: unset;
    padding: 1em;
}
user-menu.menu .curtain:before,
user-menu.menu .curtain li:first-child a:before {
    right: 1em;
    left: unset;
}
user-menu .curtain ul span {
    white-space: nowrap;
}
user-menu .user-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
}
user-menu .user-info span {
    text-align: right;
    white-space: nowrap;
}
user-menu .user-info .name {
    font-size: 0.8em;
    color: #FE4400;
    font-weight: bold;
}
user-menu .user-info .role {
    font-size: 0.7em;
    color: #527B89;
}