table {
  width: 100%;
  table-layout: fixed;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-registers {
  width: 100%;
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

tr:hover {
  background: whitesmoke;
  cursor: pointer;
}

tr:active {
  background: #efefef;
}

h3 {
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 0.5em 0 0.5em 0;
}

.title-bar {
  height: auto;
  background-color: rgb(76, 112, 122);
  color: white;
}

.title-bar mat-icon {
  cursor: pointer;
}
