<div class="list-registers">

  <mat-toolbar class="title-bar">
    <h3>Câmeras</h3>
    <span style="flex: 1 0 auto"></span>
    Adicionar
    <span style="flex: 0.01 0 auto"></span>
    <mat-icon (click)='newCamera()'>add_circle</mat-icon>
  </mat-toolbar>

  <mat-form-field>
    <mat-label>Filtrar</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Buscar"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z3" style="margin-bottom: 1em;">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container
        matColumnDef="{{ column }}"
        *ngFor="let column of displayedColumns"
      >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ columnLabels[column] }}</th>
        <td mat-cell *matCellDef="let row" (click)="editCamera(row)">
          {{ row[column] }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          Não há câmeras para o filtro "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
