<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   id="svg4118"
   viewBox="0 0 23.3971729583 3.45519004583"
   height="3.45519004583mm"
   width="23.3971729583mm"
   version="1.1">
  <defs
     id="defs8" />
  <metadata
     id="metadata4115">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     id="g5"
     transform="translate(-97.264408,-73.875321)">
    <path
       style="display:inline;fill:#9cb6bf;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1.06668007"
       d="m 97.264407,73.87545 v 1.75675 0.16096 0.73202 c 0.05867,0.65883 0.938188,0.76124 0.938188,0.76124 v -0.74636 -0.059 -0.68792 -0.16096 -0.93708 h 1.04125 c 0.13191,0 0.21974,0.0145 0.27837,0.0584 0.0587,0.0439 0.0877,0.13201 0.0877,0.24916 v 0.62949 0.16096 0.73202 c 0,0.65883 0.997145,0.76124 0.997145,0.76124 v -0.74636 -0.059 -0.68792 -0.16096 -0.93708 h 0.98229 c 0.13195,0 0.24894,0.0145 0.30757,0.0584 0.0733,0.0439 0.11741,0.13201 0.11741,0.24916 v 0.62949 0.16096 0.73202 c 0,0.65883 0.87976,0.76124 0.87976,0.76124 v -0.74636 -0.059 -0.68793 -0.16096 -0.86377 c 0,-0.27818 -0.0884,-0.5123 -0.24971,-0.6587 -0.16128,-0.1464 -0.38061,-0.23428 -0.65926,-0.23428 z m 6.949253,0 c -0.29339,0 -0.52826,0.0734 -0.66036,0.17584 -0.16129,0.13178 -0.24916,0.33669 -0.24916,0.62949 v 1.75675 c 0,0.26351 0.0879,0.49744 0.24916,0.64383 0.17613,0.16106 0.39617,0.24915 0.66036,0.24915 h 1.46515 c 0.26421,0 0.48422,-0.088 0.66037,-0.24915 0.16129,-0.14639 0.24915,-0.38032 0.24915,-0.64383 v -1.75675 c 0,-0.2928 -0.0879,-0.49771 -0.24915,-0.62949 -0.1321,-0.1025 -0.36697,-0.17584 -0.66037,-0.17584 z m 2.66737,0 v 0.81967 h 1.173 v 2.63539 h 0.8792 v -2.63539 h 1.11457 v -0.81967 z m 4.17826,0 c -0.2934,0 -0.5277,0.0734 -0.65981,0.17584 -0.1613,0.13178 -0.24916,0.33669 -0.24916,0.62949 v 1.74187 c 0,0.27818 0.0879,0.51232 0.24916,0.65871 0.17614,0.16106 0.39561,0.24915 0.65981,0.24915 h 1.46625 c 0.26371,0 0.48313,-0.088 0.65926,-0.24915 0.16129,-0.14639 0.24971,-0.36598 0.24971,-0.62949 v -1.77109 c 0,-0.2928 -0.0884,-0.49771 -0.24971,-0.62949 -0.1321,-0.1025 -0.36636,-0.17584 -0.65926,-0.17584 z m 2.75611,0 v 3.45506 h 0.92385 v -1.2882 h 0.26348 c 0.2934,0.4099 0.60118,0.84876 0.89408,1.27332 0.4255,0 0.6301,-0.0143 1.05559,-0.0143 -0.29339,-0.42452 -0.60068,-0.86362 -0.89408,-1.2882 0.45469,-0.0292 0.7912,-0.16136 0.9233,-0.35169 0.0732,-0.10251 0.1025,-0.26336 0.1025,-0.42442 v -0.5562 c 0,-0.51238 -0.30774,-0.80532 -0.8792,-0.80532 z m 4.48585,0 c -0.58679,0 -0.87976,0.29295 -0.87976,0.80533 v 2.64973 h 0.95307 v -0.81967 h 1.40727 v 0.81967 h 0.87975 v -3.45506 z m -2.43365,0.80533 c 0.19047,0 0.27837,0.1023 0.27837,0.32193 0,0.21956 -0.0879,0.33679 -0.26348,0.33679 h -1.15813 v -0.64438 c 0.4542,0 0.68904,-0.0143 1.14324,-0.0143 z m 2.77044,0 h 1.14379 v 1.12726 h -1.40727 v -0.80533 c 0,-0.21963 0.0879,-0.32193 0.26348,-0.32193 z m -14.17578,0.0143 h 0.96795 c 0.16129,0 0.21938,0.0732 0.21938,0.23426 v 1.30309 c 0,0.21958 -0.0581,0.27837 -0.23426,0.27837 h -0.93818 c -0.17614,0 -0.23427,-0.0588 -0.23427,-0.27837 v -1.30309 c 0,-0.16102 0.058,-0.23427 0.21938,-0.23426 z m 6.84619,0 h 0.96739 c 0.16129,0 0.23482,0.0732 0.23482,0.23426 v 1.30309 c 0,0.21958 -0.0731,0.27837 -0.24916,0.27837 h -0.93817 c -0.17613,0 -0.2205,-0.0588 -0.2205,-0.27837 v -1.30309 c 0,-0.16102 0.0444,-0.23427 0.20562,-0.23426 z"
       id="motora-logo" />
  </g>
</svg>