
<header>

  <a routerLink="/" class="logo">
    <img src="../assets/images/logo.svg" alt="Always Design System logo">
  </a>



  <nav-menu 
    [visible]="NavMenu.visible" 
    [selecteditem]="NavMenu.selecteditem" 
    (goto)="NavMenu.handleGoTo($event)"
    [hidden]='!isLoggedIn'
    class="menu" tabindex="0"
    >
  </nav-menu>
  
  <user-menu 
    visible="false" 
    class="menu"
    [name]="UserMenu.name"
    [role]="UserMenu.role"
    (logout)="UserMenu.handleLogout()"
    [companies]="UserMenu.companies"
    (changeCompany)="UserMenu.handleChangeCompany($event)"
    >
  </user-menu>

  <help-menu 
    visible="false" 
    (goto)="NavMenu.handleGoTo($event)"
    [hidden]='!isLoggedIn'
    class="menu"
    >
  </help-menu>


    <!-- <mat-toolbar style="background-color: #fbfbfb; color: black" [hidden]='!isLoggedIn'>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
  
      <span class="toolbar-spacer"></span>
  
      <div *ngIf="user != undefined" class="identify">
        <strong style="font: Lato; color: #fd4f00; font-size: 0.8em;">{{ user.name }}</strong>
        <small>{{ roleLabel[user.role] }}</small>
      </div>
  
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar> -->

  <!-- Menu do user -->
  <!-- <mat-menu #userMenu="matMenu">
    <mat-list>
      <div mat-subheader>Administrar empresa</div>
      <mat-list-item *ngFor="let c of companies">
        <button mat-menu-item (click)="changeCompany(c)">
          <span>{{c.name}}</span>
        </button>
      </mat-list-item>
  
      <mat-divider></mat-divider>
  
      <div mat-subheader>Usuário</div>
      <mat-list-item>
        <button mat-menu-item (click)="logout()">
          <span>Sair</span>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-menu> -->

  

  
  <!-- Menu page routers -->
  <!-- <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">
      <mat-icon>videocam</mat-icon>
      <span>Câmeras</span>
    </button>
    <button [hidden]="userRole === 'user'" mat-menu-item routerLink="/registers">
      <mat-icon>library_books</mat-icon>
      <span>Cadastros</span>
    </button>  
  </mat-menu> -->
  
</header>

<main>
  <router-outlet></router-outlet>
</main>
<footer>
    <logo-motora></logo-motora>
</footer>
