.toolbar-spacer {
  flex: 1 1 auto;
}

.identify {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  text-align: right;
}

.identify strong {
  color: #fff7ec;
  font-weight: bolder;
}

.identify small {
  color: #6897a5;
  font-size: 80%;
  font-weight: 400;
}

header {
  background-color: #fbfbfb;
}