<div class="calibration">
    <div class="calibration-info">
      <div class="list">
        <table>
          <thead>
            <tr>
                <th colspan=2>Informações da Câmera</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> Nome </td>
              <td> {{currentCamera.name}} </td>
            </tr>
            <tr>
              <td> Calibração </td>
              <td> {{currentCamera.calibrated ? 'Calibrada' : 'Descalibrada'}} </td>
            </tr>
          </tbody>
        </table>
        <div class="buttons">
          <button id="btn-calib" type="submit" class="btn-default" (click)="calibrateCamera()">
            {{currentCamera.calibrated ? 'Recalibrar Câmera' : 'Calibrar Câmera'}}              
          </button>
        </div>
      </div>
      <div class="camera-view">
        <div style="position:relative;" id="div-video-val" (click)="onClickEvent($event)">
          
          <div *ngIf="!isLoaded" class="spinner-video">
            <mat-spinner></mat-spinner>
          </div>
          
          <img id="img-draw"
                [src]="getCameraStreamLink()"
                [width]="getNormalizedWidth()"
                [height]="getNormalizedHeight()"
                >
          <video style="display: none;" 
                id="videoElementCalib"
                [width]="getNormalizedWidth()"
                [height]="getNormalizedHeight()"
                >
          </video>
      
          <canvas id="myCanvas" [width]="getNormalizedWidth()" [height]="getNormalizedHeight()">
            Your browser does not support the HTML5 canvas tag.
          </canvas>
        </div>
        <div>
          <button hidden id="btn-reset-calib" class="btn-default" (click)="resetRect()">
            Resetar Pontos              
          </button>
          <button hidden id="btn-final-calib" class="btn-success" (click)="finalizeCalibration()">
            Finalizar Calibração              
          </button>
        </div>
      </div>
    </div>
  </div>
    
    