.calib-line{
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    width: 112px;
    height: 47px;
    top: 500px;
    bottom: 800px;
}

.calibration {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    justify-content: space-evenly;
}

.calibration-info {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
}

#img-draw{
    z-index: 1; 
    -webkit-user-select: none;
}

#myCanvas{
    z-index: 2;
    background-color: transparent;
}

.uncalibrated{
    background-color: yellow;
}