<div *ngIf="!isLoaded" style="margin-left: 35%">
  <mat-spinner></mat-spinner>
</div>

<div [hidden]="!isLoaded">
  <h3>{{ title }}</h3>
  <div style="width: auto">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="new-obj">
      <mat-form-field>
        <mat-label for="name"> Nome </mat-label>
        <input matInput id="name" type="text" formControlName="name" />
        <mat-error *ngIf="name.invalid">
          {{ getErrorMessage(name.errors) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="email"> Email </mat-label>
        <input matInput id="email" type="email" formControlName="email" />
        <mat-error *ngIf="email.invalid">
          {{ getErrorMessage(name.email) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field [hidden]="userRole != 'admin'">
        <mat-label for="company"> Instituição </mat-label>
        <mat-select
          id="company"
          name="company"
          (change)="changeRole($event)"
          formControlName="company"
        >
          <mat-option *ngFor="let company of companies" [value]="company.id">{{
            company.name
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="company.invalid">
          {{ getErrorMessage(company.errors) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="role"> Função </mat-label>
        <!-- <input matInput id="role" type="role" formControlName="role" /> -->
        <mat-select
          id="role"
          name="role"
          (change)="changeRole($event)"
          formControlName="role"
        >
          <mat-option [value]="'user'">Operador</mat-option>
          <mat-option [value]="'manager'">Gerente</mat-option>
          <mat-option [hidden]="userRole != 'admin'" [value]="'admin'"
            >Administrador</mat-option
          >
        </mat-select>
        <mat-error *ngIf="role.invalid">
          {{ getErrorMessage(role.errors) }}
        </mat-error>
      </mat-form-field>

      <!-- <mat-form-field *ngIf="mode != 'edit'"> -->
      <mat-form-field *ngIf="userRole === 'admin'">
        <mat-label for="password"> Senha </mat-label>
        <input
          matInput
          id="password"
          type="password"
          formControlName="password"
        />
        <mat-error *ngIf="password.invalid">
          {{ getErrorMessage(password.errors) }}
        </mat-error>
      </mat-form-field>

      <mat-dialog-actions>
        <button
          *ngIf="mode === 'edit'"
          [disabled]="!canDelete()"
          matTooltip="Você não possui permissão para remover este usuário"
          matTooltipClass="example-tooltip-red"
          [matTooltipDisabled]="canDelete()"
          mat-button
          type="button"
          (click)="deleteUser()"
        >
          Remover Usuário
        </button>
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button type="submit" [disabled]="!userForm.valid">
          Aceitar
        </button>
      </mat-dialog-actions>
    </form>
  </div>
</div>
