.new-obj-parent {
  display: flex;
  border-top-style: solid;
  border-top-width: 0px;
  padding-top: 1em;
}

.new-obj {
  grid-template-columns: 1fr;
  grid-gap: 1em 3em;
}

form {
  width: 33%;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

mat-dialog-actions {
  width: max-content;
}

.mat-form-field {
  width: 20em;
}


::ng-deep  .example-tooltip-red {
  // background: #b71c1c !important;
  font-size: medium !important;
  max-width: unset  !important;
}
