@import "https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.css";
@import "https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "./assets/style/list.scss";
@import "~bootstrap/scss/bootstrap";
@import '../node_modules/leaflet/dist/leaflet.css';

@import "./assets/css/structure.css";
@import "./assets/css/animations.css";
@import "./assets/css/menu.css";
@import "./assets/css/nav-menu.css";
@import "./assets/css/help-menu.css";
@import "./assets/css/user-menu.css";
@import "./assets/css/tab-group.css";
@import "./assets/css/table-data.css";

html,
body {
  height: 100%;
}
div {
  font-family: Lato, Ubuntu, Arial, Helvetica, sans-serif !important; 
}
.mat-body, 
.mat-body-1, 
.mat-typography,
.mat-toolbar,
.mat-toolbar h1,
.mat-toolbar h2,
.mat-toolbar h3,
.mat-toolbar h4,
.mat-toolbar h5,
.mat-toolbar h6 {
  font: 16px Lato, Ubuntu, Arial, Helvetica, sans-serif;
  letter-spacing: normal;
}
.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6 {
  font-family: Lato, Ubuntu, Arial, Helvetica, sans-serif;
}
html .mat-body p, 
html .mat-body-1 p, 
html .mat-typography p {
  margin: 0.5em 0;
  line-height: 1.4em;
}
body .list-registers,
body .list-registers.force {
  width: unset;
}
body .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #FE4400;
  height: 0.2em;
}
body .mat-icon {
  margin-right: 0.25em;
}
body .mat-tab-nav-bar, 
body .mat-tab-header {
  border: none;
  box-shadow: 0 -0.2em 0 0 rgba(123, 163, 177, 0.33) inset;
}
body .mat-tab-label {
  text-transform: uppercase;
}
body .camera-info {
  flex-direction: column-reverse;
  padding: 1em;
}
body .mat-tab-group {
  height: 100%;
}
body th.mat-header-cell, 
body td.mat-cell, 
body td.mat-footer-cell {
  padding: 0 0.5em;
}
canvas#myCanvas {
  left: 1em;
  top: 1em;
  position: absolute;
  background-color: #e2ff3b75;
}
body .camera-view table {
  margin: 1em;
}
body .camera-view img {
  margin: 1em;
}
body .camera-view {
  display: flex;
  justify-content: center;
  background-color: #000;
  margin: 0 0 1em 0;
  width: 100%;
}
app-calibration .camera-view {
  flex-direction: column;
}
#div-video-val {
  position: relative;
}
body .mat-tab-body-wrapper,
.mat-tab-body.mat-tab-body-active,
.mat-tab-body-content,
app-map,
#map
{
  height: 100%;
}


body {
  font: 16px Lato, Ubuntu, Arial, Helvetica, sans-serif;
  color: #434343;
  background-color: #eef2f5;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  min-width: 800px;
  transition: all 0.2s;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  // margin: 8px;
}

.mat-body p,
.mat-body-1 p,
.mat-typography p {
  margin: 0 0 1px;
}

.my-div-icon {
  background: #fe4400;
  border: 3px solid white;
  border-radius: 1em;
  text-align: center;
  font: 16px Lato, Ubuntu, Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-weight: bold;
  padding: 0.5em;
  z-index: 1;
  width: auto;
  height: auto;
}

.my-div-icon.safe {
  background-color: #0e8814;
}

.my-div-icon.medium {
  background-color: #b19912;
}

.my-div-icon.danger {
  background-color: #e42929;
}

.my-div-icon.offline {
  background-color: #535050;
}

.my-div-icon.deffect {
  background-color: #535050;
  border-color: #ff0000;
  border-width: 5px;
}

.my-div-icon::before {
  content: "";
  position: absolute;
  top: 0.85em;
  background-color: inherit;
  left: 2em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
  /* border: 3px solid white; */
}

.spinner-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.spinner-video {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}